
{extend name="public:common_edit"/}
{block name="css"}
<style>
    .form-control {
        max-width: 350px;
    }
    .alert{
        padding: 5px;
        border: 1px solid #999999;
    }


    .tb-name {
        width: 238px;
    }
    .error{
        color: red;
        margin-top: 10px;
        display: none;
    }
    .select{
        margin-bottom: 10px;
    }
    .doctor{
        display: none;
    }
</style>
<link rel="stylesheet" type="text/css" href="/public/plugs/jQuery-Tags-Input/src/jquery.tagsinput.css" />
<link rel="stylesheet" href="/public/admin/ueditor/themes/default/css/ueditor.min.css">
{/block}
{block name="main"}
<section class="content">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default"
               data-original-title="返回"><i class="fa fa-reply"></i></a>
            <a href="javascript:void(0);" class="btn btn-default"
               data-url="javascript:;"
               onclick="get_help(this)"><i class="fa fa-question-circle"></i> 帮助</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {$title}</h3>
            </div>
            <div class="panel-body">
                <!--表单数据-->
                <form action="" method="post" class="form-horizontal"
                      id="category_form">

                    <!--通用信息-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_tongyong">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>标题:</td>
                                    <td><input placeholder="标题" class="form-control" name="title" type="text" value="{$data.title}"></td>
                                </tr>
                                <tr>
                                    <td>类型:</td>
                                    <td>
                                        <select class="form-control" name="type">
                                            <option id="type0" value="0"> 系统消息</option>
                                            <option id="type1" value="1">活动消息</option>
                                            <!--<option id="type2" value="2">车防提醒</option>-->
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>内容摘要:</td>
                                    <td><textarea name="content" class="form-control" id="" cols="30" rows="10">{$data.content}</textarea></td>
                                </tr>
                                <tr>
                                    <td>状态:</td>
                                    <td>
                                        <select class="form-control" name="status">
                                            <option id="status1" value="1"> 显示</option>
                                            <option id="status0" value="0">不显示</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pull-right">
                        <label class="control-label col-sm-2"></label>
                        <input type="hidden" name="id" value="{$data.mid}">
                        <input class="btn btn-primary submit" type="submit" value="保存">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{/block}
{block name="js"}
<script src="/public/plugs/switch-button/js/bootstrap-switch.js"></script>
<script type="text/javascript" src="/public/plugs/jQuery-Tags-Input/src/jquery.tagsinput.js"></script>
<script type="text/javascript" src="/public/admin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/public/admin/ueditor/ueditor.all.min.js"></script>
<script>
    $(function () {
        var ue = UE.getEditor('editor');
        var type = "{$data.type}"
        $('#type'+type).attr('selected','selected')
        var status = "{$data.status}"
        $('#status'+status).attr('selected','selected')
    })

</script>



{/block}