{extend name="public:common_index"/}
{block name="main"}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> 用户列表</h3>
        </div>
        <div class="panel-body">

            <div class="navbar navbar-default">
                <form action="" id="search-form2" class="navbar-form form-inline" method="get" onsubmit="return false">
                    <div class="form-group">

                        <label class="control-label" for="input-order-id">金币类型</label>
                        {:arr2select('money_type',$money_type,'全部',input('money_type'),'money_type','msg')}
                        <label class="control-label" for="input-order-id">红包类型</label>
                        {:arr2select('red_type',$red_type,'全部',input('red_type'),'red_type','msg')}
                    </div>
                    <button type="submit" onclick="javascript:document.getElementById('search-form2').submit();"
                            id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i> 筛选
                    </button>
                    <!--<a href="{:url('user_edit')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>添加</a>-->
                    <!--<a href="{:url('examiner_batch')}" class="btn btn-primary pull-right"><i class="fa fa-folder-open-o"></i>批量导入</a>-->
                </form>
            </div>
            <div id="ajax_return">
                <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td>红包ID</td>
                                <td>用户ID</td>
                                <td>金币类型</td>
                                <td>发送金额</td>
                                <td>红包类型</td>
                                <td>红包个数</td>
                                <td>发送时间</td>
                                <td>更新时间</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 列表循环开始 -->
                            {volist name="rows" id="row" key="key"}
                            <tr>
                                <td>{$row.red_id}</td>
                                <td>{$row.user_id}</td>
                                <td>{$row.money_type_name}</td>
                                <td>{$row.money}</td>
                                {if $row.red_type==1}
                                <td>普通红包</td>
                                {else /}
                                <td>拼手气</td>
                                {/if}
                                <td>{$row.num}</td>
                                <td>{$row.create_time}</td>
                                <td>{$row.update_time}</td>

                                <td>
                                    <a class="btn btn-primary " href="/red_package/edit/id/{$row.red_id}">详情</a>

                                </td>
                            </tr>
                            {/volist}
                            <!-- 列表循环结束 -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div id='pagerarea'>{$pageHTML}</div>
        </div>
    </div>
{/block}
{block name="js"}
<script>
    $(function () {
        var is_agent = "{$Think.get.is_agent}";
        $('#is_agent'+is_agent).attr('selected','selected')
    })
</script>
{/block}




