<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>soha</title>
    <link rel="stylesheet" href="__CSS__/download_css.css"/>
</head>
<body>
    <div class="down">
        <p>
            <a href="{$android}"><img src="__IMG2__/anz.png" alt=""/></a>
            <a href="{$ios}" class="r"><img src="__IMG2__/ios.png" alt=""/></a>
        </p>
    </div>
</body>
</html>