<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>修改密码</title>
    <link rel="stylesheet" href="__CSS__/css.css"/>
    <script src="__JS__/jquery-2.1.0.js"></script>
    <script src="__JS__/clipboard.min.js"></script>

    <!--公用js-->
    {include file="public/js" /}


</head>
<body class="body">
<div class="header">
   设置密码
    <a  class="back">
        <img src="__IMG__/back.png" alt=""/>
    </a>
</div>
<div class="login resc set">
    <!--<div class="list">-->
        <!--<p>-->
            <!--<span>您的手机号码：</span>-->
            <!--<input type="text" name="phone"  placeholder="请输入您的手机号码" value=""/>-->
        <!--</p>-->

    <!--</div>-->
    <div class="list">
        <p>
            <span>您的私钥：</span>
            <input type="text" name="private_key"  placeholder="请输入您的私钥" value=""/>
        </p>
    </div>
    <div class="list">
        <p>
            <span>登录密码：</span>
            <input type="password" name="password" placeholder="请设置登录密码" value=""/>
        </p>
    </div>
    <div class="list">
        <p>
            <span>确认密码：</span>
            <input type="password" name="check" placeholder="请确认登录密码" value=""/>
        </p>
    </div>
    <a  class="sub">完成</a>
</div>
</body>

<script src="__JS__/js.js"></script>
<script>
    //登录
    $('.sub').click(function () {
        // var phone = $("input[name='phone']").val();
        // if (!phone){
        //     layer.msg('请输入手机号码');
        //     return false;
        // }else{
        //     if (!verify.is_phone(phone)){
        //         layer.msg('请输入正确的手机号码');
        //         return false;
        //     }
        // }
        var password = $("input[name='password']").val();
        if (!password){
            layer.msg('请输入密码');
            return false;
        }
        var check = $("input[name='check']").val();
        if (!check){
            layer.msg('请确认密码');
            return false;
        }

        var private_key = $("input[name='private_key']").val();
        if (!private_key){
            layer.msg('请输入您的公钥');
            return false;
        }



        var formData = new FormData();
        // formData.append('phone',phone);
        formData.append('password',password);
        formData.append('check',check);
        formData.append('private_key',private_key);
        var btn = $(this);
        var data = httpPost('/login/key',formData,btn,true);
        if (data !== false){
            successRedirect('修改成功', "{:url('wap/login')}", 1);
        }



    })
</script>
</html>