<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>soha</title>
    <link rel="stylesheet" href="__CSS__/css.css"/>


    <!--公用js-->
    {include file="public/js" /}



</head>
<body>
    <div class="login">
        <img src="__IMG__/logo.png" alt=""/>
        <form action="{$API}/login/login.html" id="form">
        <ul>

                <li>
                    <input name="phone" placeholder="请输入账号" type="text"/>
                </li>
                <li>
                    <input style="background-image:url('__IMG__/mima.png')" name="password" placeholder="请输入密码" type="password"/>
                </li>

        </ul>
        <div id="slider">
            <div id="slider_bg"></div>
            <span id="label">&gt;&gt;</span> <span id="labelTip">拖动滑块验证</span>
            <input type="hidden" id="code" value="0"/>
        </div>
        <a  class="sub on">登录</a>


        </form>


        <p class="res-box">
            <a href="register.html">立即注册</a>
            <a href="{:url('wap/edit')}" class="res">忘记密码？</a>
        </p>
        <img src="__IMG__/loz.png" alt="" class="loz"/>
        <p class="san">
            <a href="{:url('login/wxlogin')}">
                <img src="__IMG__/max-wx.png" alt=""/>
            </a>
            <a href="{:url('login/qqlogin')}">
                <img src="__IMG__/max-qq.png" alt=""/>
            </a>
            {/**<a href="login-mg.html">
                <img src="__IMG__/max-mg.png" alt=""/>
            </a>
            */}
            <a href="{:url('phone')}">
                <img src="__IMG__/max-sj.png" alt=""/>
            </a>
        </p>
        <p class="lo-txt">
            登录即代表同意SOHA直播平台服务协议
        </p>
    </div>
    <script src="__JS__/jquery.slideunlock.js"></script>

    <script>

        $('.on').click(function () {
            var btn = $(this);
            var id = btn.parents('form').attr('id');
            var formData =  new FormData($('#'+id)[0]);
            var data = httpPost('/login/login.html',formData,btn,true);
            if (data !== false){
                $.post("{:url('index/setUserInfo')}",{phone:data.phone,token:data.token},function (data) {
                    if (data.code == 1){
                        //TODO 登录成功后的跳转页面更改
                        successRedirect('登录成功', "{:url('user/play')}", 1);
                    }else{
                        layer.msg('网络连接错误', {icon: 5, time: 2000});
                        layer.closeAll("loading");
                        btn.attr('disabled', false);
                    }
                })
            }
        });


        $('.button').click(function () {
            var btn = $(this);
            btn.attr('disabled', 'disabled');
            var load=layer.load(1, {
                shade: [0.3,'#999999'] //0.1透明度的白色背景
            });
            var form = btn.closest("form");
            var id = btn.parents('form').attr('id');
            var formData =  new FormData($('#'+id)[0]);
            var url = form.attr("action");
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.code == 1) {
                        $.post("{:url('index/setUserInfo')}",{phone:result.data.phone,token:result.data.token},function (data) {
                            if (data.code == 1){
                                //TODO 登录成功后的跳转页面更改
                                successRedirect('登录成功', "{:url('user/play')}", 1);
                            }else{
                                layer.msg('网络连接错误', {icon: 5, time: 2000});
                                layer.closeAll("loading");
                                btn.attr('disabled', false);
                            }
                        })
                    } else {
                        zcAlert(result.msg,0);
                        layer.closeAll("loading");
                        btn.attr('disabled', false);
                    }
                },
                error: function () {
                    layer.msg('请求失败,网络连接超时', {icon: 5, time: 2000});
                    layer.closeAll("loading");
                    btn.attr('disabled', false);
                }
            });
            return false;
        });











        $(function () {
            var slider = new SliderUnlock("#slider",{
                successLabelTip : "验证成功"
            },function(){
                $('#code').val(1);
//                alert("验证成功");
//                window.location.href=""
            });
            slider.init();
        })
    </script>
</body>
</html>