<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>soha</title>
    <link rel="stylesheet" href="__CSS__/css.css"/>
    <script src="__JS__/jquery-2.1.0.js"></script>


    <!--公用js-->
    {include file="public/js" /}


</head>
<body>
<div class="login resc">
    <img src="__IMG__/logo.png" alt=""/>
    <ul>
        <li>
            <input name="phone" placeholder="请输入手机号" type="text"/>
        </li>
        <li>
            <input name="code" type="text"/>
            <a  class="getcode" id="msg">获取验证码</a>
            <a  class="getcode" id="num">0</a>
        </li>

    </ul>

    <a  class="sub">登录</a>
    <p class="res-box">
        <a href="{:url('wap/register')}">立即注册</a>
        <a href="{:url('wap/edit')}" class="res">忘记密码？</a>
    </p>

    <p class="lo-txt">
        登录即代表同意SOHA直播平台服务协议
    </p>
</div>
<script>
    var phone = '';
    var code  = '';
    var set;
    //获取验证码
    $('#msg').click(function(){
        var phone = $("input[name='phone']").val();
        if (!phone){
            layer.msg('请输入手机号码');
            return false;
        }else{
            if (!verify.is_phone(phone)){
                layer.msg('请输入正确的手机号码');
                return false;
            }
        }
        var formData = new FormData();
        formData.append('phone',phone);
        var btn = $(this);
        var data = httpPost('/index/sms',formData,btn,true);
        if (data !== false){
            layer.msg('发送成功');
            layer.closeAll("loading");
            btn.attr('disabled', false);
            var num = 60;
            $('#msg').hide();
            $('#num').show();
            $('#num').html(num);
            set=setInterval(function(){
                if(num <= 0){
                    $('#msg').show();
                    $('#num').hide();
                    clearInterval(set);
                }else{
                    num--;
                    $('#num').html(num);
                }
            },1000)
        }
    })

    //登录
    $('.sub').click(function () {
        var phone = $("input[name='phone']").val();
        if (!phone){
            layer.msg('请输入手机号码');
            return false;
        }else{
            if (!verify.is_phone(phone)){
                layer.msg('请输入正确的手机号码');
                return false;
            }
        }
        var code = $("input[name='code']").val();
        if (!code){
            layer.msg('请输入验证码');
            return false;
        }else{
            if (!verify.is_num(code) || code.length != 6){
                layer.msg('验证码错误');
                return false;
            }
        }
        var formData = new FormData();
        formData.append('phone',phone);
        formData.append('code',code);
        var btn = $(this);
        var data = httpPost('/login/login',formData,btn,true);
        if (data !== false){
            $.post("{:url('index/setUserInfo')}",{phone:data.phone,token:data.token},function (data) {
                console.log(data);
                if (data.code == 1){
                    // layer.closeAll("loading");
                    // btn.attr('disabled', false);
                    // return false;
                    //TODO 登录成功后的跳转页面更改
                    successRedirect('登录成功', "{:url('user/play')}", 1);
                }else{
                    layer.msg('网络连接错误', {icon: 5, time: 2000});
                    layer.closeAll("loading");
                    btn.attr('disabled', false);
                }
            })
        }



    })

</script>
</body>
</html>