html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; font-weight: normal}
body {  font-family: "Microsoft Yahei";  }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 0;
    padding-left: 0;
}
.row {
    margin: 0;
}
.content-warp {
    width: 1000px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px 30px;
}
.store-information {
    background-color: #fff;
    padding: 20px 16px;
}
.store-information .header-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.store-information .row .col-md-2 {
    margin-left: -24px;
}
.store-information .info-warp p {
    line-height: 32px;
    color: #000000;
    font-size: 16px;
}
.row-warp .row-item{
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #f4f4f4;
    margin-right: 18px;
    display: inline-block;
    padding: 0 20px;
    width: 170px;
    box-shadow:0 0 10px #f4f4f4;
}
.row-item .thumbnail{
    border: none;
    margin-bottom: 10px;
    margin-top: 14px;
}
.row-warp .row-item .introduce-name {
    color: #000;
}
.row-warp .row-item .number {
    color: #ff0000;
    margin-top: 2px;
    margin-bottom: 10px;
}
.publish-goods h4,.order-detail h4,.notis-sistem h4 {
    line-height: 52px;
    color: #000000;
    font-size: 16px;
    padding-left: 16px;
}
.notice-punishment h4,.report-instructions h4 {
    line-height: 40px;
    color: #ff0036;
    background-color: #fff;
    font-size: 16px;
    padding-left: 16px;
    margin-bottom: 20px;
}
.row-warp .row-item:hover{
    box-shadow:0 0 10px #d8d5d5;
    transition: all 0.4s linear;
}
.row-warp .row-item:hover img{
    transform:translateX(-10px);
    transition: all 0.6s;
}
