{extend name="public:common_index"/}
{block name="main"}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> 评论列表</h3>
        </div>
        <div class="panel-body">

            <div class="navbar navbar-default">
                <form action="" id="search-form2" class="navbar-form form-inline" method="get" onsubmit="return false">
                    <div class="form-group">
                        <label class="control-label" for="input-order-id">评论内容</label>
                        <div class="input-group">
                            <input type="text" name="content" value="" placeholder="评论内容"
                             class="form-control">
                        </div>
                    </div>
                    <button type="submit" onclick="javascript:document.getElementById('search-form2').submit();"
                            id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i> 筛选
                    </button>
                    <!--<a href="{:url('/news_reply/edit')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>添加</a>-->
                    <!--<a href="{:url('examiner_batch')}" class="btn btn-primary pull-right"><i class="fa fa-folder-open-o"></i>批量导入</a>-->
                </form>
            </div>
            <div id="ajax_return">
                <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td>评论id</td>
                                <td>咨询id</td>
                                <td>评论类型</td>
                                <td>评论内容</td>
                                <td>状态</td>
                                <td>评论时间</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 列表循环开始 -->
                            {volist name="rows" id="row" key="key"}
                            <tr>
                                <td>{$row.reply_id}</td>
                                <td>{$row.news_id}</td>
                                <td>{if condition="$row.type == 1"} 利好 {else /} 利空 {/if}</td>

                                <td>{$row.content}</td>
                                <td>{if condition="$row.status == 1"} 正常 {else /} 删除 {/if}</td>
                                <td>{$row.create_time}</td>
                                <td>
                                    <a class="btn btn-primary " href="/news_reply/edit/id/{$row.reply_id}">编辑</a>
                                    {if condition="$row.status == 1"} <span class="btn btn-primary change" data-message="" data-url="/news_reply/changestatus/id/{$row.reply_id}/status/0">删除 </span>
                                    {else /} <span class="btn btn-primary change" data-message="" data-url="/news_reply/changestatus/id/{$row.reply_id}/status/1">启用</span> {/if}
                                </td>
                            </tr>
                            {/volist}
                            <!-- 列表循环结束 -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div id='pagerarea'>{$pageHTML}</div>
        </div>
    </div>
{/block}
{block name="js"}
<script>
    $(function () {
        var is_agent = "{$Think.get.is_agent}";
        $('#is_agent'+is_agent).attr('selected','selected')
    })
</script>
{/block}




