
{extend name="public:common_edit"/}
{block name="css"}
<style>
    .form-control {
        max-width: 350px;
    }

    .tb-name {
        width: 238px;
    }
    .error{
        color: red;
        margin-top: 10px;
        display: none;
    }
    .select{
        margin-bottom: 10px;
    }
    .doctor{
        display: none;
    }
</style>
{/block}
{block name="main"}
<section class="content">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default"
               data-original-title="返回"><i class="fa fa-reply"></i></a>
            <a href="javascript:void(0);" class="btn btn-default"
               data-url="javascript:;"
               onclick="get_help(this)"><i class="fa fa-question-circle"></i> 帮助</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {$title}</h3>
            </div>
            <div class="panel-body">
                <!--表单数据-->
                <form action="" method="post" class="form-horizontal"
                      id="category_form">

                    <!--通用信息-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_tongyong">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>礼物抽成比例(最大99)</td>
                                    <td>
                                        <input name="gift_ratio" class="form-control" type="number" value="{$data.gift_ratio}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>邀约抽成比例(最大99)</td>
                                    <td>
                                        <input name="invite_ratio" class="form-control" type="number" value="{$data.invite_ratio}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>贵族续费保护期折扣(最大99)</td>
                                    <td>
                                        <input name="renew_rebate" class="form-control" type="number" value="{$data.renew_rebate}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>最低提现金额</td>
                                    <td>
                                        <input name="money" class="form-control" type="number" value="{$data.money}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>形象照最大数量</td>
                                    <td>
                                        <input name="img_max" class="form-control" type="number" value="{$data.img_max}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>视频动态最大数量</td>
                                    <td>
                                        <input name="vod_max" class="form-control" type="number" value="{$data.vod_max}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>家族群最多人数</td>
                                    <td>
                                        <input name="group_max" class="form-control" type="number" value="{$data.group_max}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>同城查询最远公里数</td>
                                    <td>
                                        <input name="distance" class="form-control" type="number" value="{$data.distance}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>身份认证说明(最大150字)</td>
                                    <td>
                                        <textarea name="check_explain" class="form-control" cols="30" rows="10">{$data.check_explain}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>身份认证正面示例照:</td>
                                    <td>{:uploadHtml('face_example',$data.face_example,'single_img')}</td>
                                </tr>
                                <tr>
                                    <td>身份认证反面示例照:</td>
                                    <td>{:uploadHtml('back_example',$data.back_example,'single_img')}</td>
                                </tr>
                                <tr>
                                    <td>身份认证自拍示例照:</td>
                                    <td>{:uploadHtml('self_example',$data.self_example,'single_img')}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pull-right">
                        <label class="control-label col-sm-2"></label>
                        <input class="btn btn-primary submit" type="submit" value="保存">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{/block}
{block name="js"}
<script>
    $(function () {
        var type   = "{$data.type}";
        if(type != ''){
            $('#type'+type).attr('selected',true)
        }

        var status   = "{$data.status}";
        if(status != ''){
            $('#status'+status).attr('selected',true)
        }
    })
</script>



{/block}