
{extend name="public:common_edit"/}
{block name="css"}
<style>
    .form-control {
        max-width: 350px;
    }

    .tb-name {
        width: 238px;
    }
    .error{
        color: red;
        margin-top: 10px;
        display: none;
    }
    .select{
        margin-bottom: 10px;
    }
    .doctor{
        display: none;
    }
</style>
{/block}
{block name="main"}
<section class="content">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default"
               data-original-title="返回"><i class="fa fa-reply"></i></a>
            <a href="javascript:void(0);" class="btn btn-default"
               data-url="javascript:;"
               onclick="get_help(this)"><i class="fa fa-question-circle"></i> 帮助</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {$title}</h3>
            </div>
            <div class="panel-body">
                <!--表单数据-->
                <form action="" method="post" class="form-horizontal"
                      id="category_form">

                    <!--通用信息-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_tongyong">
                            <table class="table table-bordered">
                                <tbody>
                                <!--<tr>-->
                                    <!--<td>用户禁止使用的昵称:(以英文逗号隔开)</td>-->
                                    <!--<td>-->
                                        <!--<textarea class="form-control" name="nick_name" >{$data.nick_name}</textarea>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <tr>
                                    <td>用户禁止使用的角色名:(以英文逗号隔开)</td>
                                    <td>
                                        <textarea class="form-control" name="role_name" >{$data.role_name}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>用户禁止使用的房间名:(以英文逗号隔开)</td>
                                    <td>
                                        <textarea class="form-control" name="room_name" >{$data.room_name}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>竞拍房间名称底价(积分)</td>
                                    <td>
                                        <input placeholder="竞拍房间名称底价" type="number" class="form-control" name="sale_room" value="{$data.sale_room}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>竞拍角色名称底价(积分)</td>
                                    <td>
                                        <input placeholder="竞拍角色名称底价" type="number" class="form-control" name="sale_role" value="{$data.sale_role}">
                                    </td>
                                </tr>





                                <tr>
                                    <td>竞猜系统抽成比例:(单位%最大99)</td>
                                    <td>
                                        <input placeholder="竞猜系统抽成比例" type="number" class="form-control" name="guess_ratio" value="{$data.guess_ratio}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>用户单次竞猜最高下注额</td>
                                    <td>
                                        <input placeholder="用户单次竞猜最高下注额" type="number" class="form-control" name="guess_max" value="{$data.guess_max}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>BCDN兑积分比例(为空即为1:1)</td>
                                    <td>
                                        <input placeholder="BCDN兑积分比例" type="number" class="form-control" name="BCDN_to_money" value="{$data.BCDN_to_money}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>BCDN积分互换手续费(单位:%,最大值99)</td>
                                    <td>
                                        <input placeholder="BCDN积分互换手续费" type="number" class="form-control" name="charge" value="{$data.charge}">
                                    </td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td>以太币最低提现金额</td>-->
                                    <!--<td>-->
                                        <!--<input placeholder="以太币最低提现金额" type="number" class="form-control" name="eth" value="{$data.eth}">-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>以太币提现收费额度(%)</td>-->
                                    <!--<td>-->
                                        <!--<input placeholder="以太币提现收费额度" type="number" class="form-control" name="eth_cash" value="{$data.eth_cash}">-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <tr>
                                    <td>BCDN最低提现金额</td>
                                    <td>
                                        <input placeholder="BCDN最低提现金额" type="number" class="form-control" name="BCDN" value="{$data.BCDN}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>BCDN提现收费额度(%)</td>
                                    <td>
                                        <input placeholder="BCDN提现收费额度" type="number" class="form-control" name="BCDN_cash" value="{$data.BCDN_cash}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>积分红包最低金额</td>
                                    <td>
                                        <input placeholder="积分红包最低金额" type="text" class="form-control" name="inte_min_unit" value="{$data.inte_min_unit}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>BCDN红包最低金额</td>
                                    <td>
                                        <input placeholder="BCDN红包最低金额" type="text" class="form-control" name="BCDN_min_unit" value="{$data.BCDN_min_unit}">
                                    </td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td>比特币红包最低金额</td>-->
                                    <!--<td>-->
                                        <!--<input placeholder="比特币红包最低金额" type="text" class="form-control" name="btc_min_unit" value="{$data.btc_min_unit}">-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>以太币红包最低金额</td>-->
                                    <!--<td>-->
                                        <!--<input placeholder="以太币红包最低金额" type="text" class="form-control" name="eth_min_unit" value="{$data.eth_min_unit}">-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <tr>
                                    <td>角色认证抵押资产最低积分</td>
                                    <td>
                                        <input placeholder="角色认证抵押资产最低积分" type="number" class="form-control" name="role_check" value="{$data.role_check}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>实名认证人脸比对最低通过率</td>
                                    <td>
                                        <input placeholder="实名认证人脸比对最低通过率" type="number" class="form-control" name="compare_num" value="{$data.compare_num}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>拍卖加价最低限制(0-1之间)</td>
                                    <td>
                                        <input placeholder="拍卖加价最低限制(0-1之间)" type="number" class="form-control" name="price_limit" value="{$data.price_limit}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>1G存储空间1个月所需积分</td>
                                    <td>
                                        <input placeholder="1G存储空间1个月所需积分" type="number" class="form-control" name="space_money" value="{$data.space_money}">
                                    </td>
                                </tr>
                                <tr>


                                    <td>app下载二维码</td>
                                    <td>
                                    {:uploadHtml('app_qrcode',$data.app_qrcode,'single_img')}
                                    </td>
                                </tr>

                                <tr>
                                    <td>微信公众号二维码</td>
                                    <td>
                                        {:uploadHtml('wx_qrcode',$data.wx_qrcode,'single_img')}
                                    </td>
                                </tr>

                                <tr>
                                    <td>分享背景图</td>
                                    <td>
                                        {:uploadHtml('backGround',$data.backGround,'single_img')}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pull-right">
                        <label class="control-label col-sm-2"></label>
                        <input class="btn btn-primary submit" type="submit" value="保存">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{/block}
{block name="js"}
<script>
    $(function () {
        var type   = "{$data.type}";
        if(type != ''){
            $('#type'+type).attr('selected',true)
        }

        var status   = "{$data.status}";
        if(status != ''){
            $('#status'+status).attr('selected',true)
        }
    })
</script>



{/block}