<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>梭哈直播</title>
		<link rel="shortcut icon" href="img/favicon.ico" />
		<link rel="bookmark" href="img/favicon.ico" type="image/x-icon" 　/>
		<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/page.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
		<!--公用js-->
		{include file="public/js" /}
	</head>
	<body>
	<img id="img" src="http://file.51soha.com/52efc201810311441138406.png" style="width: 100%;display: none" alt="">
	<iframe src="" frameborder="0"></iframe>
	<script>
        //判断是否是微信浏览器的函数
        function isWeiXin(){
            //window.navigator.userAgent属性包含了浏览器类型、版本、操作系统类型、浏览器引擎类型等信息，这个属性可以用来判断浏览器类型
            var ua = window.navigator.userAgent.toLowerCase();
            //通过正则表达式匹配ua中是否含有MicroMessenger字符串
            if(ua.match(/MicroMessenger/i) == 'micromessenger'){
                return true;
            }else{
                return false;
            }
        }

        $(function () {
			if (isWeiXin()){
				$("#img").css('display','block')
			}else{
                location.href = "soha://live/"+"{$string}";
                var t = Date.now();

                setTimeout(function(){
                    if (Date.now() - t < 3000) {
                        // layer.msg('唤醒app失败,请先注册再下载app');
                        location.href = "{:url('wap/register',['id'=>$user_id])}"
                    }
                }, 2500);

                return false;
            }

        });

	</script>

	</body>
</html>
