<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>soha</title>
    <link rel="stylesheet" href="__CSS__/css.css"/>
    <script src="__JS__/jquery-2.1.0.js"></script>
    <script src="__JS__/clipboard.min.js"></script>
    {include file="public/js" /}

</head>
<body class="hide">
<div class="video">
    <video id="video"
           autoplay="autoplay"
           poster="{$result.vod.img}"
           controls="controls"
           x-webkit-airplay="allow"
           x5-video-player-type="h5"
           src="{$result.vod.play_url}" style="max-height: 300px"></video>
    <div class="head">
        <a  class="back">
            <img src="__IMG__/back.png" alt=""/>
        </a>
        <a  class="fxa">
            <img src="__IMG__/bfx.png" alt=""/>
        </a>
    </div>
</div>


<div class="room-n">
    <div class="room ro">
        <div class="zb-top">
            <div class="top-c">
                <img src="{$result.information.header_img}" alt=""/>
                <p>
                    <span>{$result.information.role_name}</span>
                    <span>
                        <a class="blue" {if $result.information.check eq 0}style="display:none"{/if}>官方认证</a>
                       <a class="yello"  {if $result.information.check eq 0}style="display:none"{/if}>主播认证</a>
                       <img src="{if $result.information.sex eq 0}__IMG__/icon_sex.png{else}__IMG__/icon_sex_man{/if}" alt=""/>
                    </span>
                </p>
                <span class="r">
                    <a id="notice" {if $result.information.fans_status eq 1}style="background: rgb(217, 217, 217); color: rgb(127, 127, 127);"{/if}>{if $result.information.fans_status eq 0}关注{else}已关注{/if}</a>
                    <b>{$result.information.fans_num}</b>
                </span>
                <b class="both"></b>
            </div>
        </div>
        <div class="zb-top padd">
            <div class="tit-n">
                <h1>个性签名</h1>
                <p><span>{$result.vod.create_time|date='m/d',###} &nbsp;{$result.vod.num}次播放</span></p>
                <p class="black">{$result.information.sign}</p>
            </div>
        </div>
        <div class="zb-li padd">
            <a>
                <img src="__IMG__/bo1.png" alt=""/>
                <span>{$result.vod.reply_num}</span>
            </a>
            <a id="up" data-id="{$result.information.up_status}">
                <img src="{if $result.information.up_status eq 0}__IMG__/bo2.png{else}__IMG__/bo2_selected.png{/if}" alt=""/>
                <span>{$result.vod.up}</span>
            </a>
            <a>
                <img src="__IMG__/bo3.png" alt=""/>
                <span>{$result.vod.share_num}</span>
            </a>
        </div>
        <div class="pl">
            <h1>最新评论（{$result.vod.reply_num}）</h1>
            <div class="pl-txt">
                {volist name="$result.reply" id="v"}
                <div class="pl-list">
                    <div class="pl-li">
                        <img src="{$v.header_img}" alt=""/>
                        <div class="pl-r">
                            <p class="pl-tit">
                               {$v.role_name}
                            </p>
                            <p>{$v.content}</p>
                            <p>
                                <b>{$v.create_time|date='Y/m/d',###}</b>
                                <a href="">回复</a>
                            </p>
                            {volist name="$v.detail" id="vo"}
                            <p class="hf">{$vo.content}</p>
                            {/volist}
                        </div>
                        <b class="both"></b>
                    </div>

                </div>
                {/volist}
                <!--<div class="pl-list">-->
                    <!--<div class="pl-li">-->
                        <!--<img src="img/15.png" alt=""/>-->
                        <!--<div class="pl-r">-->
                            <!--<p class="pl-tit">-->
                                <!--小花花-->
                            <!--</p>-->
                            <!--<p>唱的歌很好听！</p>-->
                            <!--<p>-->
                                <!--<b>2016/01/12</b>-->
                                <!--<a href="">回复</a>-->
                            <!--</p>-->
                            <!--<p class="hf">唱的歌很好听！</p>-->
                        <!--</div>-->
                        <!--<b class="both"></b>-->
                    <!--</div>-->

                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div class="foot">
    <input type="text" readonly onclick="location.href='{$download_url}'" placeholder="说点什么吧......"/>
</div>
<script src="__JS__/js.js"></script>
</body>
<script>



    $(function(){
        var he = $('body').innerHeight()-$('.video').innerHeight()-50;
        $('.room').css({height:he+'px'});
    });
$("#notice").click(function () {
    location.href='{$download_url}'
})
    $("#up").click(function () {
        location.href='{$download_url}'
    })
</script>
</html>