{extend name="public:common_index"/}
{block name="main"}
<link href="/public/plugs/switch-button/css/bootstrap-switch.css" rel="stylesheet">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>拍卖商品列表</h3>
        </div>
        <div class="panel-body">
            <div class="navbar navbar-default">
                <form action="" id="search-form2" class="navbar-form form-inline" method="get" onsubmit="return false">
                    <div class="form-group">
                        <label class="control-label" for="input-order-id">拍卖名</label>
                        <div class="input-group">
                            <input type="text" name="title" value="{$Think.get.title}" placeholder="拍卖的名称"
                                   id="input-order-id" class="form-control">
                        </div>

                        <label class="control-label" for="input-order-id">类型</label>
                        <select class="form-control" name="type">
                            <option id="status2" value="0"  {if isset($type)}{if $type eq 0}selected="selected"{/if}{/if}> 角色</option>
                            <option id="status1" value="1" {if isset($type)}{if $type eq 1}selected="selected"{/if}{/if}>房间</option>
                        </select>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label class="control-label" for="input-order-id">时间筛选</label>-->
                    <!--<div class="input-group">-->
                    <!--<input type="text" name="startDate"  autocomplete="off" value="{$Think.get.startDate}" placeholder="选择开始时间"-->
                    <!--class="form-control timepicker">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<div class="input-group">-->
                    <!--<input type="text" name="endDate"  autocomplete="off" value="{$Think.get.endDate}" placeholder="选择结束时间"-->
                    <!--class="form-control timepicker">-->
                    <!--</div>-->
                    <!--</div>-->
                    <button type="submit" onclick="javascript:document.getElementById('search-form2').submit();"
                            id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i> 筛选
                    </button>
                    <a href="{:Url('sale_edit')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>添加</a>
                    <!--<a href="{:url('examiner_batch')}" class="btn btn-primary pull-right"><i class="fa fa-folder-open-o"></i>批量导入</a>-->
                </form>
            </div>
            <div id="ajax_return">
                <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td style="text-align: center">序号</td>
                                <td style="text-align: center">类型</td>
                                <td style="text-align: center">拍卖品名称</td>
                                <td style="text-align: center">当前出价者电话</td>
                                <td style="text-align: center">出价</td>
                                <td style="text-align: center">可否拍卖状态</td>
                                <td style="text-align: center">操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 列表循环开始 -->
                            {volist name="rows" id="row" key="key"}
                            <tr>
                                <td style="text-align: center">{$key}</td>
                                <td style="text-align: center">{if $row['type'] eq 0}角色{else}房间{/if}</td>
                                <td style="text-align: center">{if $row['type'] eq 0}{$row.name}{else}{$row.rname}{/if}</td>
                                <td style="text-align: center">{if $row.phone eq null}无人竞价{else}{$row.phone}{/if}</td>
                                <td style="text-align: center">{$row.money}{if $row['user_id'] eq null}(当前价格为竞拍底价){else}(当前价格为目前最高出价){/if}</td>
                                <td><input type="checkbox" class="checkbox is_top" {if $row.sale_status neq 2}checked="checked"{/if} data-size="small" data-id="{$row.sale_id}"></td>
                                <td style="text-align: center">
                                    <a class="btn btn-primary " href="/sale_success/sale_edit/id/{$row.sale_id}">编辑</a>
                                    <!--<span class="btn btn-danger check_del" data-message="" data-url="/sale_success/sale_del/id/{$row.sale_id}">删除</span>-->
                                </td>
                            </tr>
                            {/volist}
                            <!-- 列表循环结束 -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div id='pagerarea'>{$pageHTML}</div>
        </div>
    </div>
{/block}

{block name="js"}

<script src="/public/plugs/switch-button/js/bootstrap-switch.js"></script>

<script>
    $(function () {
        var type   = "{$Think.get.type}";
        if(type != ''){
            $('#type'+type).attr('selected',true)
        }

        var status   = "{$Think.get.status}";
        if(status != ''){
            $('#status'+status).attr('selected',true)
        }
    })
    $(document).ready(function(){
        $(".checkbox").bootstrapSwitch({
            onText:'可拍卖',
            offText:'不可拍卖'
        });
        $('.is_top').on('switchChange.bootstrapSwitch', function (event,state){
            var val = state?0:2;
            var id = $(this).attr('data-id');
            $.post("{:url('change_status')}",{id:id,val:val},function (data) {
                if(data.code!=1){layer.msg('改变状态失败', {icon: 5, time: 2000});}
            });
        });
    });

</script>



{/block}



