<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>房间-聊天</title>
		<link rel="shortcut icon" href="img/favicon.ico" />
		<link rel="bookmark" href="img/favicon.ico" type="image/x-icon" 　/>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/page.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>
	<body>
		<div class="headerpage"></div>
		<div class="main-all clearfix mg_top10">
			<div class="main-left live-left text-center padding_tb10 left">
				<div class="padding_tb20 main-lefttop">
					<p class=""><img class="uesr-head" src="img/icon-head.png" alt="" /></p>
					<p>小丫头</p>
					<p class="user-rz mg_top10">
						<span class="mg_top10">官方认证</span>
						<span class="mg_lr10">主播认证</span>
					    <img class="vertical-align_m " src="img/icon-woman.png"/>
					</p>
				</div>
				<div class="main-leftlist">
					<div class="LeftList">
						<h4 class="font_16"><img class="vertical-align_m mg_lr10" src="img/icon_all.png"/>全部分类</h4>
						<ul class="mg_top10">
							<li class="active"><a href="classify-detial.html">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			<div class="live-middle left mg_top10 bg_ff">
			    <ul class="padding_10 bor_b clearfix live-top">
			    	<li class="flow-a"><a href="javascript:;"><img src="img/live01.png"/><p class="mg_top5">推流码</p></a></li>
			    	<li class="quiz-a"><a href="javascript:;"><img src="img/live02.png"/><p class="mg_top5">发起竞猜</p></a></li>
			    	<li class="redbag-a"><a href="javascript:;"><img src="img/live03.png"/><p class="mg_top5">发红包</p></a></li>
			    	<li><a href="javascript:;"><img class="icon-switch" src="img/check_check.png"/><p class="mg_top5">直播开关</p></a></li>
			    	<li><a href="javascript:;"><img class="icon-switch" src="img/check_check.png"/><p class="mg_top5">录制开关</p></a></li>
			    	<li><a href="javascript:;"><img src="img/live03.png"/><p class="mg_top5">管理直播间</p></a></li>
			    </ul>
			    <dl class="clearfix padding_10 live-box1">
			    	<dt class="left mg_top20"><img class="head-home vertical-align_m" src="img/icon-head.png"/></dt>
			    	<dd class="left padding_lr10 clearfix live-dd">
			    		<div class="left">
			    			<p>
				    			<strong class="font_18">头皮发麻，1V4反人类枪斗术</strong>
					    		<i class="user-rz mg_top10">
									<span class="mg_top10 color_ff">官方认证</span>
									<span class="mg_lr10 color_ff">主播认证</span>
								    <img class="vertical-align_m " src="img/icon-woman.png">
								</i>
								<a href="javascript:;" class="padding_lr10">举报</a>
				    		</p>
				    		<p>个性签名：啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
				    		<p>直播公告：啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
			    		</div>
			    		<div class="right">
			    			<p class="attention-box">
			    				<a href="javascript:;" class="attention-a">关注</a>
			    				<a href="javascript:;" class="attention-text">25474</a>
			    			</p>
			    			<p class="share-box mg_top10">
			    				<a href="javascript:;"><img src="img/share_1.png"/></a>
			    				<a href="javascript:;"><img src="img/share_2.png"/></a>
			    				<a href="javascript:;"><img src="img/share_3.png"/></a>
			    				<a href="javascript:;"><img src="img/share_4.png"/></a>
			    			</p>
			    		</div>
			    		
			    	</dd>
			    </dl>

			</div>
			<div class="live-right left bg_ff chat-rignt">
				
				<div class="chate-rigntnav">
					<h4 class="padding_5 bg_e">
						<img class="vertical-align_m" src="img/icon-gb.png"/>公告
					</h4>
					<div class="text-center padding_5 bor_b">
						<p><strong>公告标题公告标题公告标题公告标题公告标题</strong></p>
						<p>张三 08/08/2018 12:00</p>
					</div>
					<p class="padding_10">
						区块链是分布式数据存储、点对点传输、共识机
						制、加密算法等计算机技术的新型应用模式。所
						谓共识机制是区块链系统中实现不同节点之间建
						立信任、获取权益的数学算法
					</p>
					<div>
						<p class="padding_10">成员（100人）</p>
						<p class="bg_ff find-box">
							<input type="text" name="" id="" class="bg_ff" value="" placeholder="公链底层开发实践"  />
							<img class="find-img" src="img/icon-find.png"/>
						</p>
					</div>
				</div>	
				<div class="chate-down">
					<div>
						<p class="bg_ff padding_10 ">房主、管理员（6人）</p>
						<dl class="clearfix padding_10 bor_b">
							<dt class="left"><img class="head" src="img/icon-head.png"/></dt>
							<dd class="left">
								<p><strong>区块链和比特币</strong></p>
								<p class="basic_a bg_blue color_ff">房主</p>
							</dd>
						</dl>
						<dl class="clearfix padding_10 bor_b">
							<dt class="left"><img class="head" src="img/icon-head.png"/></dt>
							<dd class="left">
								<p><strong>区块链和比特币</strong></p>
								<p class="basic_a bg_blue color_ff">房主</p>
							</dd>
						</dl>
						<dl class="clearfix padding_10 bor_b">
							<dt class="left"><img class="head" src="img/icon-head.png"/></dt>
							<dd class="left">
								<p><strong>区块链和比特币</strong></p>
								<p class="basic_a bg_blue color_ff">房主</p>
							</dd>
						</dl>
					</div>
					
					<div>
						<p class="bg_e padding_10">成员（6人）</p>
						<dl class="clearfix padding_10 bor_b">
							<dt class="left"><img class="head" src="img/icon-head.png"/></dt>
							<dd class="left">
								<p><strong>区块链和比特币</strong></p>
								<p class="basic_a bg_yell color_ff ">管理员</p>
							</dd>
						</dl>
					</div>
					<div>
						<p class="bg_e padding_10">游客（6人）</p>
						<dl class="clearfix padding_10 bor_b">
							<dt class="left"><img class="head" src="img/icon-head.png"/></dt>
							<dd class="left">
								<p><strong>区块链和比特币</strong></p>
								<p class="basic_a bg_blue1 color_ff ">房主</p>
							</dd>
						</dl>
						<dl class="clearfix padding_10 bor_b">
							<dt class="left"><img class="head" src="img/icon-head.png"/></dt>
							<dd class="left">
								<p><strong>区块链和比特币</strong></p>
								<p class="basic_a bg_blue1 color_ff ">房主</p>
							</dd>
						</dl>
						<dl class="clearfix padding_10 bor_b">
							<dt class="left"><img class="head" src="img/icon-head.png"/></dt>
							<dd class="left">
								<p><strong>区块链和比特币</strong></p>
								<p class="basic_a bg_blue1 color_ff ">房主</p>
							</dd>
						</dl>
						<dl class="clearfix padding_10 bor_b">
							<dt class="left"><img class="head" src="img/icon-head.png"/></dt>
							<dd class="left">
								<p><strong>区块链和比特币</strong></p>
								<p class="basic_a bg_blue1 color_ff ">房主</p>
							</dd>
						</dl>
						<dl class="clearfix padding_10 bor_b">
							<dt class="left"><img class="head" src="img/icon-head.png"/></dt>
							<dd class="left">
								<p><strong>区块链和比特币</strong></p>
								<p class="basic_a bg_blue1 color_ff ">房主</p>
							</dd>
						</dl>
					</div>
				</div>
				
			
			</div>
		</div>
		<!--举报-->
		<div class="live_spring">
			<h4 class="clearfix text-center bg_e padding_tb10 color_55">举报 
				<a href="javascript:;" class="right padding_lr10 dell_a"><img src="img/icon-dell.png"></a>
			</h4>
			<div class="bg_ff live_springmain padding_lr30">
				<p class="mg_top10">
					<label for="">请选择举报理由：</label>
					<input type="text" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请详细描述：</label>
					<input type="text" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<span>请选择图片/视频：</span>
					<input type="file" name="" id="file" hidden="hidden" value="">
					<label for="file" class="file text-center">选择文件</label>  最多选三张
				</p>
				<p class="mg_top40 text-center"><a href="javascript:;" class="btn-a ">提交</a></p>
			</div>
		</div>
		<!--发起竞猜-->
		<div class="live_spring quiz-box">
			<h4 class="clearfix text-center bg_e padding_tb10 color_55">发起竞猜 
				<a href="javascript:;" class="right padding_lr10 dell_a"><img src="img/icon-dell.png"></a>
			</h4>
			<div class="bg_ff live_springmain padding_lr30">
				<p class="mg_top10">
					<label for="">请输入题目：</label>
					<input type="text" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请输入答案1：</label>
					<input type="text" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请输入答案2：</label>
					<input type="text" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请设置开盘时间：</label>
					<input type="date" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请设置封盘时间：</label>
					<input type="date" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请设置开奖时间：</label>
					<input type="date" name="" id="" value="">
				</p>
				
				<p class="mg_top40 text-center"><a href="javascript:;" class="btn-a ">发起</a></p>
			</div>
		</div>
		<!--今晚能不能吃鸡-->
		<div class="live_spring chicken-box">
			<h4 class="clearfix text-center bg_e padding_tb10 color_55">今晚能不能吃鸡 
				<a href="javascript:;" class="right padding_lr10 dell_a"><img src="img/icon-dell.png"></a>
			</h4>
			<div class="bg_ff live_springmain padding_lr30">
				<p class="mg_top10">
					<label for="">猜胜方：</label>
					<a href="javascript:;" class="basic_a bg_blue">能</a>
					<a href="javascript:;" class="basic_a bg_blue mg_lr10">不能</a>
				</p>
				<p class="mg_top20">
					<label for="">当前赔率：</label>
					<a href="javascript:;" class="basic_a bor">0.8</a>
					<a href="javascript:;" class="basic_a bor mg_lr10">0.9</a>
				</p>
				<p class="mg_top20">
					<label for="">底金：</label>
					<input type="text" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">预计可获：</label>
					<i>1000</i>
				</p>
				<p class="mg_top40 text-center"><a href="javascript:;" class="btn-a ">开猜</a></p>
			</div>
		</div>
		<!--发红包-->
		<div class="live_spring redbag-box">
			<h4 class="clearfix text-center bg_e padding_tb10 color_55">发红包 
				<a href="javascript:;" class="right padding_lr10 dell_a"><img src="img/icon-dell.png"></a>
			</h4>
			<div class="bg_ff live_springmain padding_lr30">
				<p class="mg_top10">
					<label for="">请选择币种：</label>
					<select name="">
						<option value="">请选择币种</option>
					</select>
				</p>
				<p class="mg_top20">
					<label for="">请输入总金额:</label>
					<input type="number" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请输入个数：</label>
					<input type="number" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请输入文字：</label>
					<textarea name="" rows="5" cols="30"></textarea>
				</p>
				
				<p class="mg_top40 text-center"><a href="javascript:;" class="btn-a ">提交</a></p>
			</div>
		</div>
		<!--红包详情-->
		<div class="basic_spring">
			<h4 class="clearfix text-center bg_e padding_tb10 color_55">红包详情 
				<a href="javascript:;" class="right padding_lr10 dell_a"><img src="img/icon-dell.png"></a>
			</h4>
			<div class="bg_ff live_springmain">
				<div class="padding_tb20 text-center">
					<img class="head-home" src="img/icon-head.png"/>
					<p><strong>小李子的红包</strong></p>
					<h6 class="mg_top5">大吉大利，晚上吃鸡</h6>
					<h3 class="red font_18 mg_top5">187.54</h3>
				</div>
				<p class="padding_10 bg_e">已领取0/8(8个红包，30秒被领光)</p>
				<dl class="clearfix padding_10 bor_b">
					<dt class="left"><img class="head" src="img/icon-head.png"/></dt>
					<dd class="left head-dd">
						<div class="clearfix">
							<div class="left">
								<p>张小二</p>
								<h6>218-8-31 12：00</h6>
							</div>
							<strong class="right mg_top10">100</strong>
						</div>
					</dd>
				</dl>
				<dl class="clearfix padding_10 bor_b">
					<dt class="left"><img class="head" src="img/icon-head.png"/></dt>
					<dd class="left head-dd">
						<div class="clearfix">
							<div class="left">
								<p>张小二</p>
								<h6>218-8-31 12：00</h6>
							</div>
							<strong class="right mg_top10">100</strong>
						</div>
					</dd>
				</dl>
				<dl class="clearfix padding_10 bor_b">
					<dt class="left"><img class="head" src="img/icon-head.png"/></dt>
					<dd class="left head-dd">
						<div class="clearfix">
							<div class="left">
								<p>张小二</p>
								<h6>218-8-31 12：00</h6>
							</div>
							<strong class="right mg_top10">100</strong>
						</div>
					</dd>
				</dl>
			</div>
		</div>
		<!--直播信息-->
		<div class="basic_spring flow-box">
			<h4 class="clearfix text-center bg_e padding_tb10 color_55">直播信息 
				<a href="javascript:;" class="right padding_lr10 dell_a"><img src="img/icon-dell.png"></a>
			</h4>
			<div class="bg_ff live_springmain">
				<p class="mg_top20 clearfix padding_10">
					<span class="left">推流码：https://pro.modao.</span>
					<a class="right blue">复制</a>
				</p>
				<p class="padding_10 "><a class=" blue">直播教程</a></p>
				<p class="mg_top40 text-center"><a href="javascript:;" class="btn-a ">关闭</a></p>
		    </div>
		</div>
		<!--拆红包-->
		<div class="basic_spring envelope">
			<div class="envelope_main text-center">
				<p class="mg_top50"><img class="head-home" src="img/icon-head.png"/></p>
				<p class="color_ff mg_top10">团子</p>
				<p class="color_ff mg_top10">给你发一个红包</p>
				<img class="font" src="img/c.png"/>
			</div>
		</div>
		<div class="overlay"></div>
	    <script src="js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	    <script type="text/javascript">
	    	$(function(){
	    		$("body").css({'height':$(window).height(),'overflow':' hidden'})
	    		
	    		//推流码
		        $('.flow-a').click(function(){
		        	$('.flow-box').fadeIn(200)
		        	$('.overlay').show()
		        })
		         //发起竞猜
		        $('.quiz-a').click(function(){
		        	$('.quiz-box').fadeIn(200)
		        	$('.overlay').show()
		        })
		         //发起红包
		        $('.redbag-a').click(function(){
		        	$('.redbag-box').fadeIn(200)
		        	$('.overlay').show()
		        })
		        
			    var heightD=$(window).height()-70;
			    $(".live-middle").css('height',heightD)
			    $(".live-left").css('height',heightD)
			    $(".live-right").css('height',heightD)
	
	    	})
	    	function check(obj){
	    		var that=$(this)
	    		if(that.hasClass('active')){
	    				console.log(111)
	    			that.removeClass('active')
	    		}else{
	    				console.log(22)
	    			that.addClass('active')
	    		}
	    	}
	    	
	    </script>
	</body>
</html>
