<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>梭哈直播</title>
		<link rel="shortcut icon" href="__IMG2__/favicon.ico" />
		<link rel="bookmark" href="__IMG2__/favicon.ico" type="image/x-icon" 　/>
		<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
		<!--公用js-->
		{include file="public/js" /}
	</head>
	<body id="login">
		<div class="login-box clearfix">
			<div class="login-img left">
				<img src="__IMG2__/login_left.png"/>
			</div>
			 <!--登录注册弹窗-->
		    <div class="login-spring left">
		    	
		    	<div class="login-top font_18  text-center">
		    		莓果登录
		    	</div>
		    	<form action="" method="post" id="form" class="login_form mg_top20">
		    		<!--登录-->
		    		<div class="login-reg active" >
			    		<p class="login-inp">
			    			<img src="__IMG2__/icon_phone.png"/>
			    			<input type="text" name="phone"  value="" placeholder="请输入手机号码" />
			    		</p>
			    		<!--若是手机号登录  获取手机验证码-->
						<p class="login-inp">
							<img src="__IMG2__/icon_password.png"/>
							<input type="password" name="password"  value="" placeholder="请输入密码" />
						</p>
			    		
		    			<div id="slide_box">
							<div id="slide_xbox">
								<div id="btn">
									<i class="iconfont icon-double-right"></i>
									<!--<img src="__IMG2__/next.png" alt="">-->
								</div>
							</div>
							请按住滑块，拖动到最右边
						</div>
			    		
			    		<h5 class="mg_top10">登录即代表同意<a href="javasceipt:;" class="blue">soha直播平台服务协议</a></h5>
			    		<div class="login">
			    			<a  class="login-a on" >登录</a>
			    		</div>
			    		<h5 class=" clearfix">
			    			<a href="login.html" class="left">还没有账号，<span class="blue">立即注册</span></a>
			    			<a href="javasceipt:;" class="blue right">忘记密码</a>
			    		</h5>
			    	</div>	
				    <p class="text-center other-user mg_top10">第三方合作账户</p>
		    		<p class="text-center  other-icon padding_tb10" >
		    			<a href="{:url('login/wxlogin')}"><img src="__IMG2__/icon-wx.png"/></a>
		    			<a href="javasceipt:;"><img src="__IMG2__/icon-qq.png"/></a>
		    			<a href="mg.html"><img src="__IMG2__/icon-meiguo.png"/></a>
		    			<a href="phone.html"><img src="__IMG2__/icon-phone.png"/></a>
		    		</p>
		    	</form>	
			</div>    	
		</div>
    	<script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
    	<script src="__JS__/hd.js" type="text/javascript" charset="utf-8"></script>
    	<script type="text/javascript">
            $('.on').click(function () {
                var btn = $(this);
                var id = btn.parents('form').attr('id');
                var formData =  new FormData($('#'+id)[0]);
                var data = httpPost_other('/login/MBerry.html',formData,btn,true);
                if (data !== false){
                    if(data.code == 101){
                        layer.msg(data.msg, {icon: 1, time: 2000});
                        setTimeout(function(){
                            window.location.href = "{:url('login/bind')}?type=3&openid="+data.data;
                            layer.closeAll("loading");
                        },2000);
					}else{
                        $.post("{:url('index/setUserInfo')}",{phone:data.phone,token:data.token},function (data) {
                            if (data.code == 1){
                                //TODO 登录成功后的跳转页面更改
                                successRedirect('登录成功', "{:url('web/index')}", 1);
                            }else{
                                layer.msg('网络连接错误', {icon: 5, time: 2000});
                                layer.closeAll("loading");
                                btn.attr('disabled', false);
                            }
                        })
					}
                }
            });
    		$("#login").css('height',$(document).height())
    	</script>
	</body>
</html>
