<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>下载</title>
		<script src="__JS__/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>

		{include file="public/js" /}
		<link rel="shortcut icon" href="__IMG2__/favicon.ico" />
		<link rel="bookmark" href="__IMG2__/favicon.ico" type="image/x-icon" 　/>
		<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
		<style type="text/css">
			
			.download-box{
				width: 100%;
				height: calc(100vh - 267px);
				background: url(__IMG2__/bg-dlow.png)no-repeat;
			}
			.download-left{
				width: 1200px;
				margin: auto;
				padding-top: 80px;
			}
			.download-font{
				width: 800px;
			}
			.download-abox dl{
				float: left;
				padding: 10px 20px;
				border:1px solid #fff ;
				width: 120px;
				text-align: center;
				border-radius: 8px;
			}
			.download-abox dl dt img{
				vertical-align: middle;
				height: 46px;
		</style>
	</head>
	<body>
	{include file='public/header' /}
		<div class="width_100 download-box">
			<div class="download-left ">
				<p class=><img width="150" src="__IMG2__/big-logo.png"/> <img width="200" src="__IMG2__/yun.png"/></p>
				<div class="download-font">
					<p class="color_ff">【好消息，大爆料】</p>
					<p class="mg_top10 color_ff">1.区块链直播，以后看直播也能赚钱</p>
					<p class="mg_top10 color_ff">2.全网最全的直播数据</p>
					<p class="mg_top10 color_ff">3.多元的玩法</p>
					<p class="mg_top10 color_ff">4.只要你热爱观看直播，对区块链感兴趣，可以说不需要任何成本，挖币的过程相当简单</p>
					<p class="mg_top10 color_ff">5.每天一分钟，轻松玩转区块链，多发多得，绝对的公平公正</p>
					<div class="mg_top10 download-abox clearfix mg_top20">
						<dl class="clearfix mg_r50" style="cursor: pointer" onclick="location.href='{$android}'">
							<dt class="left"><img src="__IMG2__/az.png"/></dt>
							<dd class="color_ff left mg_left10">
								<p class="mg_top5">安卓下载</p>
								<p>Android</p>
							</dd>
						</dl>
						<dl class="clearfix" style="cursor: pointer" onclick="location.href='{$ios}'">
							<dt class="left"><img src="__IMG2__/pg.png"/></dt>
							<dd class="color_ff left mg_left10">
								<p class="mg_top5">苹果下载</p>
								<p>Iphone</p>
							</dd>
						</dl>
					</div>
					<p class="mg_top10 color_ff"></p>
				</div>
			</div>
		</div>



	{include file='public/footer' /}
	    <div class="overlay"></div>
	    <script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>

	</body>
</html>
