<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>梭哈直播</title>
		<link rel="shortcut icon" href="__IMG2__/favicon.ico" />
		<link rel="bookmark" href="__IMG2__/favicon.ico" type="image/x-icon" 　/>
		<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
		{include file="public/js" /}
	</head>
	<body>
	{include file='public/header' /}
		<div class="main">
			<div class="video-bg text-center">
				<a href="javascript:;">
					<div id="video"></div>
				</a>
			</div>
			<div class="index-main">
				<div class="index-box1 bg_ff mg_top10  clearfix">
					<div class="index-box1-list >
						<div class="tittle bor_b clearfix">
							<h4 class="padding_tb10"><img class="vertical-align_m mg_lr10" src="__IMG2__/index-hot.png"/><strong>热门推荐</strong></h4>

					<div class="entrance-box clearfix">
						{volist name='top' id='vo'}
							<dl>
								<a class="width100" href="/play/play_detail/room_id/{$vo.room_id}/cid/{$vo.cid}">
									<dt>
										<img class="width_100" style="width: 275px;height: 157px;" src='{$vo.img}'/>
										<i class="mark">{$vo.remark}</i>
									</dt>
									<dd>
										<div class="clearfix font-box padding_tb10">
											<img class="left head" style="width: 40px;height: 40px;" src='{$vo.header_img}'/>
											<div class="left font-info">
												<p class="color_55"><strong>{$vo.room_name}</strong></p>
												<p>
													<span class="left">{$vo.cate_name}</span>
													<span class="right"><img src="__IMG2__/icon-huo.png"/> {$vo.hot}</span>
												</p>
											</div>
										</div>
									</dd>
								</a>
							</dl>
					     {/volist}


						</div>
				</div>
				<div class="index-box1-list >
						<div class="tittle bor_b clearfix">
				<h4 class="padding_tb10"><img class="vertical-align_m mg_lr10" src="__IMG2__/index-hot.png"/><strong>官方推荐</strong></h4>

				<div class="entrance-box clearfix">
					{volist name='official' id='vo'}
					<dl>
						<a class="width100" href="/play/play_detail/room_id/{$vo.room_id}/cid/{$vo.cid}">
							<dt>
								<img class="width_100" style="width: 275px;height: 157px;" src="{$vo.img}"/>
								<i class="mark">{$vo.remark}</i>
							</dt>
							<dd>
								<div class="clearfix font-box padding_tb10">
									<img class="left head" style="width: 40px;height: 40px;" src="{$vo.header_img}"/>
									<div class="left font-info">
										<p class="color_55"><strong>{$vo.room_name}</strong></p>
										<p>
											<span class="left">{$vo.cate_name}</span>
											<span class="right"><img src="__IMG2__/icon-huo.png"/> 1.2万</span>
										</p>
									</div>
								</div>
							</dd>
						</a>
					</dl>
			  	{/volist}
				</div>
			</div>
				     <div class="mg_tb10 advertising-box" onclick="location.href='{$hp.url}'">
				    	<img class="width_100" style="width: 1200px;height: 160px;" src="{$hp.img}"/>
				    	<i class="mark">广告</i>
				    </div>
				</div>

				<div class="index-box2 mg_top10 bg_ff">
					<ul class="clearfix">
						<li>
							<div class="tittle bor_b clearfix">
							    <h4 class="padding_tb10"><img class="vertical-align_m mg_lr10" src="__IMG2__/index-hart.png"/><strong>平台置顶新闻</strong></h4>
							</div>
							<div class="entrance-box clearfix width_100">
								<dl>
									<a href="/news/details/new_id/{$zdnew.news_id}" class="width_100">
										<dt>
											<img class="width_100" style="width: 339px;height: 250px" src='{$zdnew.img}'/>

										</dt>
								  	    <dd>
								  	    	<div class="clearfix font-box padding_tb10">

								  	    		<div class="left font-info ">
								  	    			<p class="color_55"><strong>{$zdnew.title}</strong></p>

								  	    		</div>
								  	    	</div>
								  	    </dd>
									</a>
								</dl>
							</div>	
						</li>
						<li>
							<div class="tittle bor_b clearfix">
							    <h4 class="padding_tb10"><img class="vertical-align_m mg_lr10" src="__IMG2__/index-top.png"/><strong>头条</strong></h4>
							</div>
							<div class="topline-box ">
								{volist name='newtopic' id='vo'}
								<p><a href="{$vo.url}" target="_blank">{$vo.title}</a></p>
						        {/volist}

							</div>	
						</li>
						<li>
							<div class="tittle bor_b clearfix">
							    <h4 class="padding_tb10"><img class="vertical-align_m mg_lr10" src="__IMG2__/index-more.png"/><strong>更多新闻</strong></h4>
							</div>
							<div class="index-box2right">
								{volist name='new' id='vo'}
								<dl class="clearfix padding_10 bor_b">
									<dt class="right"><a href="/news/details/new_id/{$vo.news_id}"><img class="width_100" style="width: 104px;height: 93px;" src="{$vo.img}"/></a></dt>
									<dd class="left">
										<h4><a href="/news/details/new_id/{$vo.news_id}">{$vo.title}</a></h4>
										<p class="mg_top20 color_b">{$vo.cate_name} {$vo.create_time}</p>
									</dd>
								</dl>
							     {/volist}
								
							</div>
						</li>
					</ul>
				</div> 
			    <div class="padding_tb20 advertising">
					{volist name='db' id='vo'}
					<a href="{$vo.url}" class="advertising-box ">
						<img class="width_100" style="width: 396px;height: 165px;" src="{$vo.img}"/>
						<i class="mark">广告</i>
					</a>
					{/volist}


				</div>
				<div class="index-box3 mg_top10 bg_ff">
					<div class="tittle bor_b clearfix">
						<h4 class=" padding_tb10 left"><img class="vertical-align_m mg_lr10" src="__IMG2__/index-hot.png"/><strong>推荐分类</strong></h4>
						<a href="/play/category" class="color_b right mg_top10 padding_5">共{$typecount}分类丨全部分类&gt;&gt;</a>
					</div>
					<ul class="index-box3main clearfix">
						{volist name='type' id='vo'}
							<li><a href="/play/index/cid/{$vo.cid}"><img src="{$vo.img}" style="width: 185px;height: 240px" /><p>{$vo.cate_name}</p></a></li>
						{/volist}
					</ul>
				</div>
				<div class="index-box4 mg_top10 bg_ff">
					<div class="tittle bor_b clearfix">
						<h4 class=" padding_tb10 left"><img class="vertical-align_m mg_lr10" src="__IMG2__/index-home.png"/><strong>房间</strong></h4>
						<a href="/play/index" class="color_b right mg_top10 padding_5">全部房间&gt;&gt;</a>
					</div>
					<div class="entrance-box clearfix">

						{volist name='room' id='vo'}
						<dl>
							<a class="width100" href="/play/play_detail/room_id/{$vo.room_id}/cid/{$vo.cid}">
								<dt>
									<img class="width_100" style="width: 275px; height: 157px;" src="{$vo.img}">
									<i class="mark">{$vo.remark}</i>
								</dt>
						  	    <dd>
						  	    	<div class="clearfix font-box padding_tb10">
						  	    		<img class="left head" style="width: 40px;height: 40px;" src='{$vo.header_img}'>
						  	    		<div class="left font-info ">
						  	    			<p class="color_55"><strong>{$vo.room_name}</strong></p>
						  	    			<p>
						  	    				<span class="left">{$vo.cate_name}</span>
						  	    				<span class="right"><img src="__IMG2__/icon-huo.png">{$vo.hot}</span>
						  	    			</p>
						  	    		</div>
						  	    	</div>
						  	    </dd>
							</a>
						</dl>
		               {/volist}


					</div>	
				</div>	
			</div>
			
		</div>
	<input type="hidden" value="{$wx_qrcode}"  name="wx_qrcode"/>
	    <div class="footer">
	    	<div class="footer_nav">
	    		<a href="/web/index">网站首页</a>
	    		<a href="/personal/about">关于我们</a>
	    		<a href="/personal/activity">发起活动</a>
				<a href="" class="wx-box">SOHA官方微信公众号 <img  class="ggh-img" src="{$wx_qrcode}"/></a>
	    		<a href="{$download}">SOHA app下载</a>
	    	</div>
	    	<p class="color_ff mg_top40">四川创客区块链科技有限公司 版权所有@www.sohatv.com 川CP备12345678-1</p>
	    	<p class="color_ff mg_top20">公司地址：中国（四川）自由贸易试验区成都高新区世纪城南路599号6栋5层505号</p>
	    </div>

	    <div class="overlay"></div>
	    <script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/TcPlayer-2.2.2.js" charset="utf-8"></script>
	    <script type="text/javascript">


            var player = new TcPlayer('video',{
                'live':true,
                "m3u8"      : "{$data.playUrl.m3u8}",//原画
                "m3u8_hd"   : "{$data.playUrl.m3u8_hd}",//高清
                "m3u8_sd"   : "{$data.playUrl.m3u8_sd}",//标清
                "autoplay"  : true,      //iOS下safari浏览器，以及大部分移动端浏览器是不开放视频自动播放这个能力的
                "coverpic"  : "{$data.playUrl.img}",//封面地址
                "clarityLabel" : {
                    od: '原画', hd: '高清', sd: '标清'//清晰度切换标签
                },
                "clarity" : 'od',//默认清晰度
                "width"   : '1200',//视频的显示宽度，请尽量使用视频分辨率宽度
                "height"  : '580'//视频的显示高度，请尽量使用视频分辨率高度
            });


	    	//倒计时
			var countdown=60;  
			var _generate_code = $(".generate_code");  
			function settime() {   
			  if (countdown == 0) {  
			    _generate_code.attr("disabled",false);  
			    _generate_code.val("获取验证码");  
			    countdown = 60;  
			    return false;  
			  } else {  
			    $(".generate_code").attr("disabled", true);  
			    _generate_code.val("重新发送(" + countdown + ")");  
			        countdown--;  
			    }  
			    setTimeout(function() {  
			        settime();  
			    },1000);  
			}  
			$(function(){


			})
			
	    </script>
	</body>
</html>
