<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>直播</title>
		<link rel="shortcut icon" href="__IMG2__/favicon.ico" />
		<link rel="bookmark" href="__IMG2__/favicon.ico" type="image/x-icon" 　/>
		<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/page.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/dm.css"/>
	</head>
	<body>
		<div class="headerpage"></div>
		<div class="main-all clearfix mg_top10">
			<div class="main-left live-left text-center padding_tb10 left">
				<div class="padding_tb20 main-lefttop">
					<p class=""><img class="uesr-head" src="__IMG2__/icon-head.png" alt="" /></p>
					<p>小丫头</p>
					<p class="user-rz mg_top10">
						<span class="mg_top10">官方认证</span>
						<span class="mg_lr10">主播认证</span>
					    <img class="vertical-align_m " src="__IMG2__/icon-woman.png"/>
					</p>
				</div>
				<div class="main-leftlist">
					<div class="LeftList">
						<h4 class="font_16"><img class="vertical-align_m mg_lr10" src="__IMG2__/icon_all.png"/>全部分类</h4>
						<ul class="mg_top10">
							<li class="active"><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链1</a></li>
							<li><a href="javascript:;">私有链1</a></li>
							<li><a href="javascript:;">公有链333</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			<div class="live-middle left mg_top10 bg_ff">
			    <ul class="padding_10 bor_b clearfix live-top">
			    	<li class="flow-a"><a href="javascript:;"><img src="__IMG2__/live01.png"/><p class="mg_top5">推流码</p></a></li>
			    	<li class="quiz-a"><a href="javascript:;"><img src="__IMG2__/live02.png"/><p class="mg_top5">发起竞猜</p></a></li>
			    	<li class="redbag-a"><a href="javascript:;"><img src="__IMG2__/live03.png"/><p class="mg_top5">发红包</p></a></li>
			    	<li><a href="javascript:;"><img class="icon-switch" src="__IMG2__/check_check.png"/><p class="mg_top5">直播开关</p></a></li>
			    	<li><a href="javascript:;"><img class="icon-switch" src="__IMG2__/check_check.png"/><p class="mg_top5">录制开关</p></a></li>
			    	<li><a href="javascript:;"><img src="__IMG2__/live03.png"/><p class="mg_top5">管理直播间</p></a></li>
			    </ul>
			    <dl class="clearfix padding_10 live-box1">
			    	<dt class="left mg_top20"><img class="head-home vertical-align_m" src="__IMG2__/icon-head.png"/></dt>
			    	<dd class="left padding_lr10 clearfix live-dd">
			    		<div class="left">
			    			<p>
				    			<strong class="font_18">头皮发麻，1V4反人类枪斗术</strong>
					    		<i class="user-rz mg_top10">
									<span class="mg_top10 color_ff">官方认证</span>
									<span class="mg_lr10 color_ff">主播认证</span>
								    <img class="vertical-align_m " src="__IMG2__/icon-woman.png">
								</i>
								<a href="javascript:;" class="padding_lr10">举报</a>
				    		</p>
				    		<p>个性签名：啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
				    		<p>直播公告：啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
			    		</div>
			    		<div class="right">
			    			<p class="attention-box">
			    				<a href="javascript:;" class="attention-a">关注</a>
			    				<a href="javascript:;" class="attention-text">25474</a>
			    			</p>
			    			<p class="share-box mg_top10">
			    				<a href="javascript:;"><img src="__IMG2__/share_1.png"/></a>
			    				<a href="javascript:;"><img src="__IMG2__/share_2.png"/></a>
			    				<a href="javascript:;"><img src="__IMG2__/share_3.png"/></a>
			    				<a href="javascript:;"><img src="__IMG2__/share_4.png"/></a>
			    			</p>
			    		</div>
			    		
			    	</dd>
			    </dl>
			    <div class="live-video">
			    	<div id="video"></div>
			    	<!--<a href="#" id="btn"><img src="__IMG2__/check_check.png"/><span class="color_ff">弹幕</span></a>-->
			    	<div class="dm">
						<div class="d_screen">
							<div class="d_show">
								<div>发红包！</div>
								<div>发红包</div>
								<div>GOOD！！</div>
								<div>Yes！！</div>
								<div>发红包</div>
							</div>
						</div>
						<div class="send">
							<div class="s_fiter">
								<div class="s_con">
									<input type="text" class="s_txt" /><input type="button" value="发布评论" class="s_sub" />
								</div>
							</div>
						</div>
					</div>

			    </div>
			    <div class="padding_10 clearfix">
			    	<ul class="left icon-livebox">
			    		<li class="mg_r20"><a href="javascript:;"><img src="__IMG2__/icoo_live00.png"/><p>发红包</p></a></li>
			    		<li><a href="javascript:;"><img src="__IMG2__/icoo_live01.png"/><p>竞猜</p></a></li>
			    	</ul>
			    	<div class="right">
			    		<div class=" icon-livebox">
			    			<a class="margin-l-r-10 block-in">
					            <img src="__IMG2__/icoo_live02.png"/>
					            <div class="popover fade top in">
					            	<div class="arrow" ></div>
					            	
					            	<div class="popover-content">
					            		<div class="clearfix">
					            			<div class="left"><img src="__IMG2__/icoo_live02.png"/></div>
					            			<div class="left icon-livefadion">
					            				<p class="">小山猪</p>
					            				<p class="mg_top5">需消耗：2345B</p>
					            				<p class="text_right"><span class="basic_a btn_rudis bor_blue">赠送</span></p>
					            			</div>
					            		</div>
					            	</div>
					            </div>
					        </a>
					        <a class="margin-l-r-10 block-in">
					            <img src="__IMG2__/icoo_live02.png"/>
					            <div class="popover fade top in">
					            	<div class="arrow" ></div>
					            	
					            	<div class="popover-content">
					            		<div class="clearfix">
					            			<div class="left"><img src="__IMG2__/icoo_live02.png"/></div>
					            			<div class="left icon-livefadion">
					            				<p class="">小山猪</p>
					            				<p class="mg_top5">需消耗：2345B</p>
					            				<p class="text_right"><span class="basic_a btn_rudis bor_blue">赠送</span></p>
					            			</div>
					            		</div>
					            	</div>
					            </div>
					        </a>
					        <a class="margin-l-r-10 block-in">
					            <img src="__IMG2__/icoo_live02.png"/>
					            <div class="popover fade top in">
					            	<div class="arrow"></div>
					            	<div class="popover-content">
					            		<div class="clearfix">
					            			<div class="left"><img src="__IMG2__/icoo_live02.png"/></div>
					            			<div class="left icon-livefadion">
					            				<p class="">小山猪</p>
					            				<p class="mg_top5">需消耗：2345B</p>
					            				<p class="text_right"><span class="basic_a btn_rudis bor_blue">赠送</span></p>
					            			</div>
					            		</div>
					            	</div>
					            </div>
					        </a>
					        <a class="margin-l-r-10 block-in">
					            <img src="__IMG2__/icoo_live02.png"/>
					            <div class="popover fade top in">
					            	<div class="arrow"></div>
					            	<div class="popover-content">
					            		<div class="clearfix">
					            			<div class="left"><img src="__IMG2__/icoo_live02.png"/></div>
					            			<div class="left icon-livefadion">
					            				<p class="">小山猪</p>
					            				<p class="mg_top5">需消耗：2345B</p>
					            				<p class="text_right"><span class="basic_a btn_rudis bor_blue">赠送</span></p>
					            			</div>
					            		</div>
					            	</div>
					            </div>
					        </a>
				    		<!--<li><a href="javascript:;"><img src="__IMG2__/icoo_live02.png"/></a></li>
				    		<li><a href="javascript:;"><img src="__IMG2__/icoo_live02.png"/></a></li>
				    		<li><a href="javascript:;"><img src="__IMG2__/icoo_live02.png"/></a></li>
				    		<li><a href="javascript:;"><img src="__IMG2__/icoo_live02.png"/></a></li>
				    		<li><a href="javascript:;"><img src="__IMG2__/icoo_live02.png"/></a></li>
				    		<li><a href="javascript:;"><img src="__IMG2__/icoo_live02.png"/></a></li>-->
				    	</div>
				    	<p>当前礼物：1234  <a href="javascript:;" class="basic_a bor_blue btn_rudis mg_lr10">充值</a></p>
			    	</div>
			    	
			    </div>
			</div>
			<div class="live-right left bg_ff">
			    <div class="padding_tb20 advertising live-box2">
			    	<a href="javascript:;" class="advertising-box ">
			    		<img class="width_100" src="__IMG2__/img8.png">
				    	<i class="mark">广告</i>
			    	</a>
				    <a href="javascript:;" class="advertising-box ">
			    		<img class="width_100" src="__IMG2__/img9.png">
				    	<i class="mark">广告</i>
			    	</a>
				</div>
				<h4 class="padding_10 bg_e">
					<img class="vertical-align_m" src="__IMG2__/icon-gb.png"/>官博内容
				</h4>
				<div class="live-chate padding_10">
					<p class="blue">直播公告：区块链是分布式数据存储、点对点传输、共识机制、加密算法等计算机技术</p>
					<p class="live-msg mg_top10"><span class="blue">Ann涛</span> 进入直播间</p>
					<p class="live-msg mg_top10"><span class="blue">小鬼诺诺</span> 张小三发出一个红包 <img class="vertical-align_m" src="__IMG2__/msg_redbag.png" alt="" /></p>
					<p class="live-msg mg_top10"><span class="blue">小鬼诺诺</span> 张小三抢到一个红包，抢到一个红包，很棒棒 </p>
					<p class="live-msg mg_top10"><span class="blue">系统</span> 房主发起了一次竞猜</p>
					<p class="live-msg mg_top10"><span class="blue">系统</span> <span class="green">房主发起了一次竞猜</span></p>
					<p class="live-msg mg_top10"><i class="xi">系</i><span class="blue">小鬼诺诺哦</span> <span class="yell">张小三发出一个红包</span></p>
					<p class="live-msg mg_top10"><span class="blue">战场至欧盟</span> <span class="green">太贵了点不起</span></p>
					<p class="live-msg mg_top10"><span class="blue">Ann涛</span> 进入直播间<img class="vertical-align_m" src="__IMG2__/msg_hores.png" alt="" /></p>
					<p class="live-msg mg_top10"><i class="xi">系</i><span class="blue">薰衣草233</span> <span>张小三抢到一个红包，抢到一个红包，很棒棒</span></p>
					<p class="live-msg mg_top10"><span class="blue">系统</span> 房主发起了一次竞猜</p>
					<p class="live-msg mg_top10"><span class="blue">系统</span> <span class="green">房主发起了一次竞猜</span><img class="vertical-align_m" src="__IMG2__/msg_sun.png" alt="" /></p>
					<p class="live-msg mg_top10"><span class="blue">系统</span> 房主发起了一次竞猜</p>
					<p class="live-msg mg_top10"><span class="blue">系统</span> <span class="green">房主发起了一次竞猜</span><img class="vertical-align_m" src="__IMG2__/msg_tv.png" alt="" /></p>
				    <div class="gife">
				    	<p class="padding_10">
				    		<img class="bg_gife" src="__IMG2__/gife.png"/>
				    		<img  src="__IMG2__/x.png"/>
				    		<img src="__IMG2__/2.png"/></p>
				    </div>
				</div>
				<div class="chate-inbox padding_10">
					<p class="check_box">
						<label class="custom-checkbox"><input class="check-zhengshe" type="checkbox"><i class="active" onclick="check(this)"></i><span>屏蔽礼物消息</span></label>
                        <label class="custom-checkbox"><input class="check-wapian" type="checkbox"><i onclick="check(this)"></i><span>屏蔽广播</span></label>
					</p>
					<p class="inp_box">
						<input type="text" name="" id="" value="" />
						<input type="button" id="" value="发送" />
					</p>
				</div>
			
			</div>
		</div>
		<!--举报-->
		<div class="live_spring">
			<h4 class="clearfix text-center bg_e padding_tb10 color_55">举报 
				<a href="javascript:;" class="right padding_lr10 dell_a"><img src="__IMG2__/icon-dell.png"></a>
			</h4>
			<div class="bg_ff live_springmain padding_lr30">
				<p class="mg_top10">
					<label for="">请选择举报理由：</label>
					<input type="text" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请详细描述：</label>
					<input type="text" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<span>请选择图片/视频：</span>
					<input type="file" name="" id="file" hidden="hidden" value="">
					<label for="file" class="file text-center">选择文件</label>  最多选三张
				</p>
				<p class="mg_top40 text-center"><a href="javascript:;" class="btn-a ">提交</a></p>
			</div>
		</div>
		<!--发起竞猜-->
		<div class="live_spring quiz-box">
			<h4 class="clearfix text-center bg_e padding_tb10 color_55">发起竞猜 
				<a href="javascript:;" class="right padding_lr10 dell_a"><img src="__IMG2__/icon-dell.png"></a>
			</h4>
			<div class="bg_ff live_springmain padding_lr30">
				<p class="mg_top10">
					<label for="">请输入题目：</label>
					<input type="text" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请输入答案1：</label>
					<input type="text" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请输入答案2：</label>
					<input type="text" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请设置开盘时间：</label>
					<input type="date" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请设置封盘时间：</label>
					<input type="date" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请设置开奖时间：</label>
					<input type="date" name="" id="" value="">
				</p>
				
				<p class="mg_top40 text-center"><a href="javascript:;" class="btn-a ">发起</a></p>
			</div>
		</div>
		<!--今晚能不能吃鸡-->
		<div class="live_spring chicken-box">
			<h4 class="clearfix text-center bg_e padding_tb10 color_55">今晚能不能吃鸡 
				<a href="javascript:;" class="right padding_lr10 dell_a"><img src="__IMG2__/icon-dell.png"></a>
			</h4>
			<div class="bg_ff live_springmain padding_lr30">
				<p class="mg_top10">
					<label for="">猜胜方：</label>
					<a href="javascript:;" class="basic_a bg_blue">能</a>
					<a href="javascript:;" class="basic_a bg_blue mg_lr10">不能</a>
				</p>
				<p class="mg_top20">
					<label for="">当前赔率：</label>
					<a href="javascript:;" class="basic_a bor">0.8</a>
					<a href="javascript:;" class="basic_a bor mg_lr10">0.9</a>
				</p>
				<p class="mg_top20">
					<label for="">底金：</label>
					<input type="text" name="" id="" value="">
				</p>
				<p class="mg_top20">
					<label for="">预计可获：</label>
					<i>1000</i>
				</p>
				<p class="mg_top40 text-center"><a href="javascript:;" class="btn-a ">开猜</a></p>
			</div>
		</div>
		<!--发红包-->
		<div class="live_spring redbag-box">
			<h4 class="clearfix text-center bg_e padding_tb10 color_55">发红包 
				<a href="javascript:;" class="right padding_lr10 dell_a"><img src="__IMG2__/icon-dell.png"></a>
			</h4>
			<div class="bg_ff live_springmain padding_lr30">
				<p class="mg_top10">
					<label for="">请选择币种：</label>
					<select name="">
						<option value="">请选择币种</option>
					</select>
				</p>
				<p class="mg_top20">
					<label for="">请输入总金额:</label>
					<input type="number" name="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请输入个数：</label>
					<input type="number" name="" value="">
				</p>
				<p class="mg_top20">
					<label for="">请输入文字：</label>
					<textarea name="" rows="5" cols="30"></textarea>
				</p>
				
				<p class="mg_top40 text-center"><a href="javascript:;" class="btn-a ">提交</a></p>
			</div>
		</div>
		<!--红包详情-->
		<div class="basic_spring">
			<h4 class="clearfix text-center bg_e padding_tb10 color_55">红包详情 
				<a href="javascript:;" class="right padding_lr10 dell_a"><img src="__IMG2__/icon-dell.png"></a>
			</h4>
			<div class="bg_ff live_springmain">
				<div class="padding_tb20 text-center">
					<img class="head-home" src="__IMG2__/icon-head.png"/>
					<p><strong>小李子的红包</strong></p>
					<h6 class="mg_top5">大吉大利，晚上吃鸡</h6>
					<h3 class="red font_18 mg_top5">187.54</h3>
				</div>
				<p class="padding_10 bg_e">已领取0/8(8个红包，30秒被领光)</p>
				<dl class="clearfix padding_10 bor_b">
					<dt class="left"><img class="head" src="__IMG2__/icon-head.png"/></dt>
					<dd class="left head-dd">
						<div class="clearfix">
							<div class="left">
								<p>张小二</p>
								<h6>218-8-31 12：00</h6>
							</div>
							<strong class="right mg_top10">100</strong>
						</div>
					</dd>
				</dl>
				<dl class="clearfix padding_10 bor_b">
					<dt class="left"><img class="head" src="__IMG2__/icon-head.png"/></dt>
					<dd class="left head-dd">
						<div class="clearfix">
							<div class="left">
								<p>张小二</p>
								<h6>218-8-31 12：00</h6>
							</div>
							<strong class="right mg_top10">100</strong>
						</div>
					</dd>
				</dl>
				<dl class="clearfix padding_10 bor_b">
					<dt class="left"><img class="head" src="__IMG2__/icon-head.png"/></dt>
					<dd class="left head-dd">
						<div class="clearfix">
							<div class="left">
								<p>张小二</p>
								<h6>218-8-31 12：00</h6>
							</div>
							<strong class="right mg_top10">100</strong>
						</div>
					</dd>
				</dl>
			</div>
		</div>
		<!--直播信息-->
		<div class="basic_spring flow-box">
			<h4 class="clearfix text-center bg_e padding_tb10 color_55">直播信息 
				<a href="javascript:;" class="right padding_lr10 dell_a"><img src="__IMG2__/icon-dell.png"></a>
			</h4>
			<div class="bg_ff live_springmain">
				<p class="mg_top20 clearfix padding_10">
					<span class="left">推流码：https://pro.modao.</span>
					<a class="right blue">复制</a>
				</p>
				<p class="padding_10 "><a class=" blue">直播教程</a></p>
				<p class="mg_top40 text-center"><a href="javascript:;" class="btn-a ">关闭</a></p>
		    </div>
		</div>
		<!--拆红包-->
		<div class="basic_spring envelope">
			<div class="envelope_main text-center">
				<p class="mg_top50"><img class="head-home" src="__IMG2__/icon-head.png"/></p>
				<p class="color_ff mg_top10">团子</p>
				<p class="color_ff mg_top10">给你发一个红包</p>
				<img class="font" src="__IMG2__/c.png"/>
			</div>
		</div>
		<div class="overlay"></div>
	    <script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
	    <script src="__JS__/TcPlayer-2.2.2.js" type="text/javascript" charset="utf-8"></script>
	    <script src="__JS__/dm.js" type="text/javascript" charset="utf-8"></script>
	    <script type="text/javascript">
	    $(function(){
	    	$("body").css({'height':$(document).height(),'overflow':' hidden'})
	    	var heightmain=$(".main-all").height();
	        var heightD=$(window).height()-40;
	//		        $(".main-all").css('height',heightD)
	        $(".live-middle").css('height',heightD)
	        $(".live-left").css('height',heightD)
	        $(".live-right").css('height',heightD)
	    	
	    	
	    	function check(obj){
	    		var that=$(this)
	    		if(that.hasClass('active')){
	    				console.log(111)
	    			that.removeClass('active')
	    		}else{
	    				console.log(22)
	    			that.addClass('active')
                }
            }

        var player = new TcPlayer('video', {
			'live': true,
			"m3u8":  "http://pili-live-hls.play.51soha.com/soha/play_8.m3u8",
			"m3u8_hd" :"http://pili-live-hls.play.51soha.com/soha/play_8@720p.m3u8",
			"m3u8_sd" : "http://pili-live-hls.play.51soha.com/soha/play_8@480p.m3u8",
			"autoplay" : true,
			"coverpic" :  "http://pili-live-snapshot.play.51soha.com/soha/play_8.jpg",
			"clarityLabel" : { od: '原画', hd: '高清', sd: '标清' },
			"clarity" : 'od',
			"width" : '100%',
			"height" : '600'
			}); 
//			var status l== player.fullscreen();n(); $('.vcp-fullscreen-toggle').click(function () {  { console.log(sta(status); });
            var html='<img src="__IMG2__/check_no.png"/>';
            $(".vcp-timelabel").html(html)
            $(document).on('click','.vcp-timelabel',function(){
            	if($(this).hasClass('active')){
            		$(this).removeClass('active');
            		$(this).children('img').attr('src','__IMG2__/check_no.png');
            	}else{
            		$(this).addClass('active');
            		$(this).children('img').attr('src','__IMG2__/check_check.png');
            	}
            	$(".dm").toggle(1000);
            })
           
	   })
	   </script>
	</body>
</html>
