{extend name="public:common_index"/}
{block name="main"}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {$title}</h3>
        </div>
        <div class="panel-body">
            <div class="navbar navbar-default">
                <form action="" id="search-form2" class="navbar-form form-inline" method="get" onsubmit="return false">
                    <div class="form-group">
                        <label class="control-label" for="input-order-id">用户昵称</label>
                        <div class="input-group">
                            <input type="text" name="nick_name" value="{$Think.get.nick_name}" placeholder="用户昵称"
                                   id="input-order-id" class="form-control">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label class="control-label" for="input-order-id">时间筛选</label>-->
                    <!--<div class="input-group">-->
                    <!--<input type="text" name="startDate"  autocomplete="off" value="{$Think.get.startDate}" placeholder="选择开始时间"-->
                    <!--class="form-control timepicker">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<div class="input-group">-->
                    <!--<input type="text" name="endDate"  autocomplete="off" value="{$Think.get.endDate}" placeholder="选择结束时间"-->
                    <!--class="form-control timepicker">-->
                    <!--</div>-->
                    <!--</div>-->
                    <button type="submit" onclick="javascript:document.getElementById('search-form2').submit();"
                            id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i> 筛选
                    </button>
                </form>
            </div>
            <div id="ajax_return">
                <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td>ID</td>
                                <td>用户昵称</td>
                                <td>类型</td>
                                <td>真实姓名</td>
                                <td>账号</td>
                                <td>备注</td>
                                <td>状态</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 列表循环开始 -->
                            {volist name="rows" id="row" }
                            <tr>
                                <td>{$row.account_id}</td>
                                <td>{$row.nick_name}</td>
                                <td>
                                    {switch name="$row.type"}
                                    {case value="1"}银行卡{/case}
                                    {case value="2"}支付宝{/case}
                                    {case value="3"}微信{/case}
                                    {default /}未知类型
                                    {/switch}
                                </td>
                                <td>{$row.real_name}</td>
                                <td>{$row.account}</td>
                                <td>{$row.remark}</td>
                                <td>
                                    {switch name="$row.status"}
                                    {case value="1"}正常{/case}
                                    {case value="2"}审核中{/case}
                                    {case value="3"}审核失败{/case}
                                    {default /}未知状态
                                    {/switch}
                                </td>
                                <td>

                                    {if condition="$row.status == 2"}

                                    <span class="btn btn-primary change" data-message="" data-url="{:url('change',['id'=>$row.account_id,'type'=>1])}">通过</span>
                                    <span class="btn btn-primary change" data-message="" data-url="{:url('change',['id'=>$row.account_id,'type'=>1])}">驳回</span>

                                    {/if}

                                </td>
                            </tr>
                            {/volist}
                            <!-- 列表循环结束 -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div id='pagerarea'>{$pageHTML}</div>
        </div>
    </div>
{/block}

{block name="js"}
<script>
    $(function () {
        var type   = "{$Think.get.type}";
        if(type != ''){
            $('#type'+type).attr('selected',true)
        }

        var status   = "{$Think.get.status}";
        if(status != ''){
            $('#status'+status).attr('selected',true)
        }
    })

</script>



{/block}



