<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="-1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>梭哈直播-资讯</title>
		<link rel="shortcut icon" href="__IMG2__/favicon.ico" />
		<link rel="bookmark" href="__IMG2__/favicon.ico" type="image/x-icon" 　/>
		<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/page.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
		<script src="__JS__/jquery-2.1.0.js"></script>

		<!--公用js-->
		{include file="public/js" /}
	</head>
	<body>
		<div class="headerpage"></div>
		<div class="content bg_ff mg_top10">
			<h4 class="padding_10">
				<strong class=" font_18"><img class="vertical-align_m mg_lr10" src="__IMG2__/icon-zx.png"/>资讯详情</strong>
			</h4>
			<ul class="infor-box">
				<li class="padding_10 bor_b">
					<a href="index-informationList.html">
						<h4 class="clearfix">
							<strong class="font_16 left infor-tittle">总结2018年,区块链出现的9大趋势9大趋势</strong>
						    <span class="right infor-time">数据观 08/12 12:00</span>
						</h4>
						<p class="mg_top10 lin_25">IBM Blockchain Platform™ 不仅仅是一种技术，更是企业间通力协作实现自身以及行业转型，乃至整个世界转型的平台</p>
					</a>
				</li>
				<li class="padding_10 bor_b">
					<a href="index-informationList.html">
						<h4 class="clearfix">
							<strong class="font_16 left infor-tittle">总结2018年,区块链出现的9大趋势9大趋势</strong>
						    <span class="right infor-time">数据观 08/12 12:00</span>
						</h4>
						<p class="mg_top10 lin_25">IBM Blockchain Platform™ 不仅仅是一种技术，更是企业间通力协作实现自身以及行业转型，乃至整个世界转型的平台</p>
					</a>
				</li>
				<li class="padding_10 bor_b">
					<a href="index-informationList.html">
						<h4 class="clearfix">
							<strong class="font_16 left infor-tittle">总结2018年,区块链出现的9大趋势9大趋势</strong>
						    <span class="right infor-time">数据观 08/12 12:00</span>
						</h4>
						<p class="mg_top10 lin_25">IBM Blockchain Platform™ 不仅仅是一种技术，更是企业间通力协作实现自身以及行业转型，乃至整个世界转型的平台</p>
					</a>
				</li>
				<li class="padding_10 bor_b">
					<a href="index-informationList.html">
						<h4 class="clearfix">
							<strong class="font_16 left infor-tittle">总结2018年,区块链出现的9大趋势9大趋势</strong>
						    <span class="right infor-time">数据观 08/12 12:00</span>
						</h4>
						<p class="mg_top10 lin_25">IBM Blockchain Platform™ 不仅仅是一种技术，更是企业间通力协作实现自身以及行业转型，乃至整个世界转型的平台</p>
					</a>
				</li>
				<li class="padding_10 bor_b">
					<a href="index-informationList.html">
						<h4 class="clearfix">
							<strong class="font_16 left infor-tittle">总结2018年,区块链出现的9大趋势9大趋势</strong>
						    <span class="right infor-time">数据观 08/12 12:00</span>
						</h4>
						<p class="mg_top10 lin_25">IBM Blockchain Platform™ 不仅仅是一种技术，更是企业间通力协作实现自身以及行业转型，乃至整个世界转型的平台</p>
					</a>
				</li>
				<li class="padding_10 bor_b">
					<a href="index-informationList.html">
						<h4 class="clearfix">
							<strong class="font_16 left infor-tittle">总结2018年,区块链出现的9大趋势9大趋势</strong>
						    <span class="right infor-time">数据观 08/12 12:00</span>
						</h4>
						<p class="mg_top10 lin_25">IBM Blockchain Platform™ 不仅仅是一种技术，更是企业间通力协作实现自身以及行业转型，乃至整个世界转型的平台</p>
					</a>
				</li>
				<li class="padding_10 bor_b">
					<a href="index-informationList.html">
						<h4 class="clearfix">
							<strong class="font_16 left infor-tittle">总结2018年,区块链出现的9大趋势9大趋势</strong>
						    <span class="right infor-time">数据观 08/12 12:00</span>
						</h4>
						<p class="mg_top10 lin_25">IBM Blockchain Platform™ 不仅仅是一种技术，更是企业间通力协作实现自身以及行业转型，乃至整个世界转型的平台</p>
					</a>
				</li>
				<li class="padding_10 bor_b">
					<a href="index-informationList.html">
						<h4 class="clearfix">
							<strong class="font_16 left infor-tittle">总结2018年,区块链出现的9大趋势9大趋势</strong>
						    <span class="right infor-time">数据观 08/12 12:00</span>
						</h4>
						<p class="mg_top10 lin_25">IBM Blockchain Platform™ 不仅仅是一种技术，更是企业间通力协作实现自身以及行业转型，乃至整个世界转型的平台</p>
					</a>
				</li>
				<li class="padding_10 bor_b">
					<a href="index-informationList.html">
						<h4 class="clearfix">
							<strong class="font_16 left infor-tittle">总结2018年,区块链出现的9大趋势9大趋势</strong>
						    <span class="right infor-time">数据观 08/12 12:00</span>
						</h4>
						<p class="mg_top10 lin_25">IBM Blockchain Platform™ 不仅仅是一种技术，更是企业间通力协作实现自身以及行业转型，乃至整个世界转型的平台</p>
					</a>
				</li>
			</ul>
			<div class="tcdPageCode mg_top20">
				<form id="last_id_form">
					<input type="hidden" id="last_id" name="last_id" value="">
					<a href="javascript:void (0);" class="nextPage" onclick="nextPage()">下一页</a>
				</form>

			</div>
		</div>
		<div class="footerpage"></div>
	    <!--<script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>-->
	    <script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
	    <script src="__JS__/jquery.page.js" type="text/javascript" charset="utf-8"></script>
	    <script>
	    	$(function(){
//	    		$(".tcdPageCode").createPage({
//			        pageCount:30,
//			        current:1,
//			        backFn:function(p){
//			            //console.log(p);
//			        }
//			    });
				formData = '';
				btn = $('#btn');
				var  data = httpPost('/news/topic.html',false,btn,false);
				var html = '';
				$.each(data,function(i,va){
					html += '<li class="padding_10 bor_b">'+
							'<a href="'+va.url+'">'+
							'<h4 class="clearfix">'+
							'<strong class="font_16 left infor-tittle">'+va.title+'</strong>'+
					'<span class="right infor-time">'+va.resource + va.published_time+'</span>'+
					'</h4>'+
					'<p class="mg_top10 lin_25">'+va.summary+'</p>'+
					'</a>'+
					'</li>';
					if(i==9){
						$('#last_id').val(va.id);
					}
				});

				$('.infor-box').html(html);
				layer.closeAll("loading");

			})

			function nextPage(){

				btn = $('#btn');
				var formData =  new FormData($('#last_id_form')[0]);

				var  data = httpPost('/news/topic.html',formData,btn,false);
				var html = '';
				$.each(data,function(i,va){
					html += '<li class="padding_10 bor_b">'+
							'<a href="'+va.url+'">'+
							'<h4 class="clearfix">'+
							'<strong class="font_16 left infor-tittle">'+va.title+'</strong>'+
							'<span class="right infor-time">'+va.resource + va.published_time+'</span>'+
							'</h4>'+
							'<p class="mg_top10 lin_25">'+va.summary+'</p>'+
							'</a>'+
							'</li>';
					if(i==9){
						$('#last_id').val(va.id);
					}
				});

				$('.infor-box').html(html);

				layer.closeAll("loading");

			}


			$('.on').click(function () {
				var btn = $(this);
				var id = btn.parents('form').attr('id');
				var formData =  new FormData($('#'+id)[0]);
				var data = httpPost('/login/login.html',formData,btn,true);
				if (data !== false){
					$.post("{:url('index/setUserInfo')}",{phone:data.phone,token:data.token},function (data) {
						if (data.code == 1){
							//TODO 登录成功后的跳转页面更改
							successRedirect('登录成功', "{:url('user/play')}", 1);
						}else{
							layer.msg('网络连接错误', {icon: 5, time: 2000});
							layer.closeAll("loading");
							btn.attr('disabled', false);
						}
					})
				}
			});


			$('.button').click(function () {
				var btn = $(this);
				btn.attr('disabled', 'disabled');
				var load=layer.load(1, {
					shade: [0.3,'#999999'] //0.1透明度的白色背景
				});
				var form = btn.closest("form");
				var id = btn.parents('form').attr('id');
				var formData =  new FormData($('#'+id)[0]);
				var url = form.attr("action");
				$.ajax({
					url: url,
					type: 'POST',
					data: formData,
					async: false,
					cache: false,
					contentType: false,
					processData: false,
					success: function (result) {
						if (result.code == 1) {
							$.post("{:url('index/setUserInfo')}",{phone:result.data.phone,token:result.data.token},function (data) {
								if (data.code == 1){
									//TODO 登录成功后的跳转页面更改
									successRedirect('登录成功', "{:url('user/play')}", 1);
								}else{
									layer.msg('网络连接错误', {icon: 5, time: 2000});
									layer.closeAll("loading");
									btn.attr('disabled', false);
								}
							})
						} else {
							zcAlert(result.msg,0);
							layer.closeAll("loading");
							btn.attr('disabled', false);
						}
					},
					error: function () {
						layer.msg('请求失败,网络连接超时', {icon: 5, time: 2000});
						layer.closeAll("loading");
						btn.attr('disabled', false);
					}
				});
				return false;
			});


	    
	</script>
	</body>
</html>
