<div id="header">
    <div class="nav clearfix">
        <div class="logo left">
            <img src="__IMG2__/logo.png"/>
        </div>
        <div class="left nav_list mg_top5">
            <ul class="clearfix">

                <li  {if condition="$_SERVER['REQUEST_URI'] eq '/web/index.html' "}class="active"{/if} ><a href="{:url('web/index')}">首页</a></li>
                <li {if condition="$_SERVER['REQUEST_URI'] eq '/play/category.html' "}class="active"{/if} ><a href="{:url('play/category')}">分类</a></li>
                <li {if strstr($_SERVER["REQUEST_URI"],'/play/index') or strstr($_SERVER["REQUEST_URI"],'/play/play_detail')  }class="active"{/if}  ><a href="{:url('play/index')}">房间</a></li>
                <li {if condition="$_SERVER['REQUEST_URI'] eq '/vod/index.html' "}class="active"{/if}  ><a href="{:url('vod/index')}">回放</a></li>
                <li {if condition="$_SERVER['REQUEST_URI'] eq '/sale/index.html' "}class="active"{/if} ><a href="{:url('sale/index')}">拍卖中心</a></li>
            </ul>
        </div>
        <div class="right nav-right">
            <input type="text" name="" id="sosuo" value="{$Request.get.title|default=''}" />
            <a href="#" class="soso"><img id="dd" src="__IMG2__/icon-find.png"/></a>
            <span class="nav-icon">
						<a href="{:url('personal/focusroom')}" class="mg_lr10"><img src="__IMG2__/icon_star.png"/>关注</a>
						<a href="{:url('personal/watchhistory')}" class="mg_lr10"><img src="__IMG2__/icon-time.png"/>历史</a>
						<a href="{:url('personal/message')}" class="mg_lr10"><img src="__IMG2__/icon-msg.png"/>消息</a>
						<a href="{:url('personal/activity')}" class="mg_lr10"><img src="__IMG2__/icon-hot.png"/>发起活动</a>

						<i class="mg_lr10">
						  {if !empty($Think.session.userInfo)}


							<img src="__IMG2__/icon-user.png"/>
							<a href="{:url('/personal/accountinfo')}" class="login-topa">{$Think.session.userInfo.role_name}</a>  丨
							<a href="#" class="reg-topa">退出</a>


                       {else /}

							<img src="__IMG2__/icon-user.png"/>
							<a href="{:url('login/login')}" class="login-topa">登录</a>  丨
							<a href="{:url('login/register')}" class="reg-topa">注册</a>

                       {/if}

						</i>
					</span>
        </div>
    </div>
    <script>
        $(".reg-topa").on('click',function () {
            layer.confirm('确定要退出？', {
                btn: ['确定', '取消'] //按钮
            }, function () {

                var phone = '{$phone}';
                var token = '{$token}';
                $.post("{:url('index/loginOut')}", {phone: phone, token: token}, function (data) {
                    if (data.code == 1) {
                     window.location.href="{:url('web/index')}";
                    } else {
                        layer.msg('退出失败', {icon: 5, time: 2000});
                    }
                })

            })
        })


        $('#dd').on('click',function () {
            var name=$("#sosuo").val();
            if(name==''){
                layer.msg('搜索不能为空', {icon: 5, time: 2000});
            }else{
                location.href="{:url('/play/index')}?title="+name;
            }


        })
    </script>
</div>