<p class="share-box mg_top10">
    <!--<a href="javascript:;"><img src="__IMG2__/share_1.png"/></a>-->
    <!-- 微信-->
    <a href="javascript:;" onclick="showQrcode('{$room_info.shareUrl}')"><img src="__IMG2__/share_2.png"/></a>
    <!-- qq-->
    <a href="javascript:;" onclick="qqShareToP('{$room_info.room_name}','{$notice.title}','{$room_info.shareUrl}','{$room_info.img}')"><img src="__IMG2__/share_3.png"/></a>
    <!-- qq空间-->
    <a href="javascript:;" onclick="qqzoneShare('{$room_info.room_name}','{$notice.title}','{$room_info.shareUrl}','{$room_info.img}')"><img src="__IMG2__/share_4.png"/></a>
</p>





