{extend name="public:common_index"/}
{block name="main"}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>申请审核列表</h3>
        </div>
        <div class="panel-body">
            <div class="navbar navbar-default">
                <form action="" id="search-form2" class="navbar-form form-inline" method="get" onsubmit="return false">
                    <div class="form-group">
                        <label class="control-label" for="input-order-id">类型</label>
                        <select class="form-control" name="type" id="input-order-id">
                            <option id="status" value="" > 请选择类型</option>
                            <option id="status2" value="0"  {if isset($type)}{if $type eq 0}selected="selected"{/if}{/if}> 认证失败</option>
                            <option id="status1" value="1" {if isset($type)}{if $type eq 1}selected="selected"{/if}{/if}>认证成功</option>
                            <option id="status3" value="2" {if isset($type)}{if $type eq 2}selected="selected"{/if}{/if}>接口认证失败</option>
                            <option id="status0" value="3" {if isset($type)}{if $type eq 3}selected="selected"{/if}{/if}>审核中</option>
                        </select>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label class="control-label" for="input-order-id">时间筛选</label>-->
                    <!--<div class="input-group">-->
                    <!--<input type="text" name="startDate"  autocomplete="off" value="{$Think.get.startDate}" placeholder="选择开始时间"-->
                    <!--class="form-control timepicker">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<div class="input-group">-->
                    <!--<input type="text" name="endDate"  autocomplete="off" value="{$Think.get.endDate}" placeholder="选择结束时间"-->
                    <!--class="form-control timepicker">-->
                    <!--</div>-->
                    <!--</div>-->
                    <button type="submit" onclick="javascript:document.getElementById('search-form2').submit();"
                            id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i> 筛选
                    </button>
                    <!--<a href="{:Url('sale_edit')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>添加</a>-->
                    <!--<a href="{:url('examiner_batch')}" class="btn btn-primary pull-right"><i class="fa fa-folder-open-o"></i>批量导入</a>-->
                </form>
            </div>
            <div id="ajax_return">
                <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td style="text-align: center">序号</td>
                                <td style="text-align: center">认证者名称</td>
                                <td style="text-align: center">认证者身份证号</td>
                                <td style="text-align: center">审核状态</td>
                                <td style="text-align: center">操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 列表循环开始 -->
                            {volist name="rows" id="row" key="key"}
                            <tr>
                                <td style="text-align: center">{$row.ID}</td>
                                <td style="text-align: center">{$row.real_name}</td>
                                <td style="text-align: center">{$row.ID_num}</td>
                                <td style="text-align: center">{if $row['status'] eq 0}审核失败{elseif $row['status'] eq 1}审核成功{elseif $row['status'] eq 3}待审核{elseif $row['status'] eq 2}接口认证失败{/if}</td>
                                <td style="text-align: center">
                                    {if $row['status'] eq 3}
                                    <a class="btn btn-primary "  href="{:url('user_check/user_check',array('id'=>$row['ID']))}">审核</a>
                                    {else}
                                    <a class="btn btn-primary "   href="{:url('user_check/user_check',array('id'=>$row['ID'],'look'=>1))}">查看详情</a>
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
                            <!-- 列表循环结束 -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div id='pagerarea'>{$pageHTML}</div>
        </div>
    </div>
{/block}

{block name="js"}
<script>
    $(function () {
        var type   = "{$Think.get.type}";
        if(type != ''){
            $('#type'+type).attr('selected',true)
        }

        var status   = "{$Think.get.status}";
        if(status != ''){
            $('#status'+status).attr('selected',true)
        }
    })

</script>



{/block}



