{extend name="public:common_index"/}
{block name="main"}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {$title}</h3>
        </div>
        <div class="panel-body">
            <div class="navbar navbar-default">
                <form action="" id="search-form2" class="navbar-form form-inline" method="get" onsubmit="return false">
                    <div class="form-group">
                        {if condition="input('id') == ''"}
                        <label class="control-label" for="input-order-id">用户昵称</label>
                        <div class="input-group">
                            <input type="text" name="nike_name" value="{$Think.get.nike_name}" placeholder="用户昵称"
                                   id="input-order-id" class="form-control">
                        </div>
                        {/if}
                        <div class="form-group">
                        <label class="control-label" for="input-order-id">时间筛选</label>
                        <div class="input-group">
                        <input type="text" name="startDate" value="{$Think.get.startDate}" placeholder="选择开始时间"
                        class="form-control timepicker">
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="input-group">
                        <input type="text" name="endDate" value="{$Think.get.endDate}" placeholder="选择结束时间"
                        class="form-control timepicker">
                        </div>
                        </div>
                        <!--<label class="control-label" for="input-order-id">状态</label>-->
                        <!--<select class="form-control" name="status">-->
                            <!--<option id="status" value="">全部</option>-->
                            <!--<option id="status1" value="1">审核通过</option>-->
                            <!--<option id="status0" value="0">未审核</option>-->
                            <!--<option id="status2" value="2">驳回</option>-->
                        <!--</select>-->

                    </div>
                    <button type="submit" onclick="javascript:document.getElementById('search-form2').submit();"
                            id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i> 筛选
                    </button>

                </form>
            </div>
        </div>
            <div id="ajax_return">
                <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td>id</td>
                                <td>用户昵称</td>
                                <td>金额</td>
                                <td>类型</td>
                                <td>说明</td>
                                <td>时间</td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 列表循环开始 -->
                            {volist name="rows" id="row" key="key"}
                            <tr>
                                <td>{$row.cid}</td>
                                <td>{$row.nike_name}</td>
                                <td>{$row.money}</td>
                                <td>{$row.remark}</td>
                                <td>{$row.status}</td>
                                <td>{$row.create_time}</td>
                            </tr>
                            {/volist}
                            <!-- 列表循环结束 -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div id='pagerarea'>{$pageHTML}</div>
        </div>
    </div>
{/block}

{block name="js"}
<script>
    $(function () {
        var status   = "{$Think.get.status}";
        if(status != ''){
            $('#status'+status).attr('selected',true)
        }
    })

</script>



{/block}



