
{extend name="public:common_edit"/}
{block name="css"}
<style>
    .form-control {
        max-width: 350px;
    }

    .tb-name {
        width: 238px;
    }
    .error{
        color: red;
        margin-top: 10px;
        display: none;
    }
    .select{
        margin-bottom: 10px;
    }
    .doctor{
        display: none;
    }
</style>
{/block}
{block name="main"}
<section class="content">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default"
               data-original-title="返回"><i class="fa fa-reply"></i></a>
            <a href="javascript:void(0);" class="btn btn-default"
               data-url="javascript:;"
               onclick="get_help(this)"><i class="fa fa-question-circle"></i> 帮助</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {$title}</h3>
            </div>
            <div class="panel-body">
                <!--表单数据-->
                <form action="" method="post" class="form-horizontal"
                      id="category_form">

                    <!--通用信息-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_tongyong">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>手机号码:</td>
                                    <td><input placeholder="手机号码" class="form-control" name="phone" type="text" value="{$data.phone}"></td>
                                </tr>
                                <tr>
                                    <td>积分余额:</td>
                                    <td><input placeholder="积分余额" class="form-control" name="money" type="text" value="{$data.money}" ></td>
                                </tr>
                                <tr>
                                    <td>密码:</td>
                                    <td><input placeholder="不填写密码默认不进行修改" class="form-control" name="password" type="text" ></td>
                                </tr>
                                <tr>
                                    <td>交易密码:</td>
                                    <td><input placeholder="不填写密码默认不进行修改" class="form-control" name="trade_password" type="text" ></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pull-right">
                        <label class="control-label col-sm-2"></label>
                        <input type="hidden" name="id" value="{$data.user_id}">
                        <input class="btn btn-primary submit" type="submit" value="保存">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{/block}
{block name="js"}
<script>
    $(function () {
        var is_agent = "{$data.is_agent}";
        $('#is_agent'+is_agent).attr('selected','selected')
    })
</script>
{/block}
