<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOHO个人中心竞猜</title>
    <link rel="shortcut icon" href="__IMG2__/favicon.ico"/>
    <link rel="bookmark" href="__IMG2__/favicon.ico" type="image/x-icon" 　/>
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/page.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>

    <!--<script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="__JS__/jquery-2.1.0.js"></script>
    <script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var hebody = $('body').height()
        $('.overlay').css('height', $('body').height())
    </script>
    <!--公用js-->
    {include file="public/js" /}
</head>
<body>
{include file="public/header" /}
<div class="main-all clearfix" id="personal">

    {include file="/personal/left" /}
    <div class="main-right left bg_ff">
        <div class="mg_top20 personal_div" style="display: block">
            <div class="clearfix">
                <div class="gift left">
                    <h4 class="padding_10 bor_b tittle_gift clearfix">
                        <strong class="left">我参与的</strong>
                    </h4>

                    {volist name='row' id='vo' key="k"}
                    <div class="{if condition='$vo.answer eq $vo.right'}quiz mg_top10 win canael{else/}quiz mg_top10 Lose canael{/if}">

                        <div class="quiz_list">
                            <p class="quiz_list_tittle clearfix bor_b padding_10">
                                <span class="left">{$k}.{$vo.title}</span>
                                <a href="javascript:;" class="right">开猜</a>
                            </p>

                            <div class="bor_b padding_10">
                                <p class="clearfix  padding_10 mg_top10">
                                    <span class="left">{$vo.answer_A}</span>
                                    <span class="right">{$vo.answer_B}</span>
                                </p>

                                <div class="clearfix mg_top5">
                                    <div class="left">
                                        <p class="clearfix bor_b padding_lr10  quiz_line quiz_left">
                                            <span class="left">{if condition='$vo.answer eq A'}{$vo.money}{/if}</span>
                                            <span class="right">赔率：{$vo.odds_A}</span>
                                        </p>
                                    </div>
                                    <p class="left pk_img text-center"><img src="__IMG2__/vs.png" alt=""/></p>

                                    <div class="right">
                                        <p class="clearfix bor_b padding_lr10  quiz_right quiz_line">
                                            <span class="left">赔率：{$vo.odds_B}</span>
                                            <span class="right">{if condition='$vo.answer eq B'}{$vo.money}{/if}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <p class="padding_10 text-center">
                                底金{$vo.money} {if condition='$vo.answer eq $vo.right'}赢{else /}输{/if}{$vo.s_money}
                            </p>
                        </div>
                    </div>
                    {/volist}

                </div>
                <div class="gift left">
                    <h4 class="padding_10 bor_b tittle_gift clearfix">
                        <strong class="left">我发起的</strong>
                    </h4>
                    {volist name='list' id='vo' key="k"}


                    <div class="quiz mg_top10">
                        <div class="quiz_list">
                            <p class="quiz_list_tittle clearfix bor_b padding_10">
                                <span class="left">{$k}.{$vo.title}</span>
                                <a href="javascript:;" class="right">开猜</a>
                            </p>

                            <div class="bor_b padding_10">
                                <p class="clearfix  padding_10 mg_top10">
                                    <span class="left">{$vo.answer_A}</span>
                                    <span class="right">{$vo.answer_B}</span>
                                </p>

                                <div class="clearfix mg_top5">
                                    <div class="left">
                                        <p class="clearfix bor_b padding_lr10  quiz_line quiz_left">
                                            <span class="left"></span>
                                            <span class="right">赔率：{$vo.odds_A}</span>
                                        </p>
                                    </div>
                                    <p class="left pk_img text-center"><img src="__IMG2__/vs.png" alt=""/></p>

                                    <div class="right">
                                        <p class="clearfix bor_b padding_lr10  quiz_right quiz_line">
                                            <span class="left">赔率：{$vo.odds_B}</span>
                                            <span class="right"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>