<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="shortcut icon" href="__IMG2__/favicon.ico"/>
    <link rel="bookmark" href="__IMG2__/favicon.ico" type="image/x-icon" 　/>
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/page.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>

    <!--<script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="__JS__/jquery-2.1.0.js"></script>
    <script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var hebody = $('body').height()
        $('.overlay').css('height', $('body').height())
    </script>
    <!--公用js-->
    {include file="public/js" /}
</head>
<body>
{include file="public/header" /}
<div class="main-all clearfix" id="personal">

    {include file="/personal/left" /}
    <div class="main-right left bg_ff">
        <!--管理直播间-->

        <div class="mg_top20 personal_div" style="display: block">
            <p class="padding_10  bg_e"><img class="vertical-align_m mg_lr10" src="__IMG2__/my-zl.png">管理直播间</p>

            <div class="clearfix">
                <form id="form_room">
                <div class="initiate-activities live_room">

                    <div class="mg_top20">
                        <span>房间名称：</span>
                        <input type="text" name="room_name" id="" value="">
                    </div>
                    <div class="mg_top20">
                        <span>房间分类：</span>
                        <select name="cid">
                            <option value="">请选择分类</option>
                            {volist name='cate' id='vo'}
                            <option value="{$vo.cid}">{$vo.cate_name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="mg_top20">
                        <span>房间介绍</span>
                        <textarea name="detail" rows="5" cols="30"></textarea>
                    </div>
                    <div class="mg_top20">
                        <span>请选择图片：</span>
                        <input type="file" name="file" id="file" hidden="hidden" onchange="filechange()" value="">
                        <input type="hidden" name="" id="input" hidden="hidden" value="">
                        <img id="img" src="__IMG2__/img13.png" style="width: 100px;height: 100px">
                        <label for="file" class="file">选择文件</label>
                    </div>
                    <div class="mg_top20">
                        <a href="javascript:void(0);" onclick="addRoom()" class="btn-a initiate-a share-a">创建</a>
                    </div>
                    <!--<div class="mg_top20">-->
                        <!--<span>全员禁言：</span>-->
                        <!--<input type="checkbox" hidden="hidden" name="" id="checkbox" value="">-->
                        <!--<label for="checkbox"><img class="check_img" src="__IMG2__/check_no.png" alt=""></label>-->
                    <!--</div>-->
                    <!--<div class="mg_top20">-->
                        <!--<span>开启房间收费：</span>-->
                        <!--<input type="checkbox" hidden="hidden" name="" id="checkbox" value="">-->
                        <!--<label for="checkbox"><img class="check_img" src="__IMG2__/check_no.png" alt=""></label>-->
                    <!--</div>-->
                    <!--<div class="mg_top20">-->
                        <!--<span style="vertical-align: top;">房间背景：</span>-->
									<!--<span class="bg_room clearfix">-->
										<!--<a href="javascript:;" class="bg_roombox active"><img class="width_100"-->
                                                                                              <!--src="__IMG2__/img13.png"-->
                                                                                              <!--alt=""/></a>-->
										<!--<a href="javascript:;" class="bg_roombox"><img class="width_100"-->
                                                                                       <!--src="__IMG2__/img13.png" alt=""/></a>-->
										<!--<a href="javascript:;" class="bg_roombox"><img class="width_100"-->
                                                                                       <!--src="__IMG2__/img13.png" alt=""/></a>-->
										<!--<a href="javascript:;" class="bg_roombox"><img class="width_100"-->
                                                                                       <!--src="__IMG2__/img13.png" alt=""/></a>-->

									<!--</span>-->
                    <!--</div>-->
                </div>
                    </form>
                <div class="live_room">
                    <h4 class="padding_10 font_16 bor_b" id="count_num">管理员({:count($manage)})</h4>
                    <div class="mg_top20">
                        <span>房间名称：</span>
                        <select id="rtt" name="id">
                            <!--<option value="">请选择房间</option>-->
                            {volist name='glroom' id='vo'}
                            <option value="{$vo.room_id}">{$vo.room_name}</option>
                            {/volist}
                        </select>
                    </div>

                    <div class="live_room_list">
                        {volist name='manage' id = 'vo'}
                        <div class="padding_10 clearfix bor_b gift-box">
                            <dl class="clearfix">
                                <dt class="left"><img class="head" src="{$vo.header_img}" alt=""/></dt>
                                <dd class="left">
                                    <div class="clearfix">
                                        <div class="left">
                                            <p><strong>{$vo.role_name}</strong></p>
                                            <h6 class="mg_top10">{$vo.remark} 12:00</h6>
                                        </div>
                                        <a href="javascript:void (0);" onclick="removeManage('{$vo.role_id}',this)" class="right"><strong>移除</strong></a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        {/volist}
                        <!--<div class="padding_10 clearfix bor_b gift-box">-->
                        <!--<dl class="clearfix">-->
                        <!--<dt class="left"><img class="head" src="__IMG2__/icon-head.png" alt=""/></dt>-->
                        <!--<dd class="left">-->
                        <!--<div class="clearfix">-->
                        <!--<div class="left">-->
                        <!--<p><strong>张小二</strong></p>-->
                        <!--<h6 class="mg_top10">飞机 12:00</h6>-->
                        <!--</div>-->
                        <!--<a href="javascript:;" class="right"><strong>移除</strong></a>-->
                        <!--</div>-->
                        <!--</dd>-->
                        <!--</dl>-->
                        <!--</div>-->
                        <!--<div class="padding_10 clearfix bor_b gift-box">-->
                        <!--<dl class="clearfix">-->
                        <!--<dt class="left"><img class="head" src="__IMG2__/icon-head.png" alt=""/></dt>-->
                        <!--<dd class="left">-->
                        <!--<div class="clearfix">-->
                        <!--<div class="left">-->
                        <!--<p><strong>张小二</strong></p>-->
                        <!--<h6 class="mg_top10">飞机 12:00</h6>-->
                        <!--</div>-->
                        <!--<a href="javascript:;" class="right"><strong>移除</strong></a>-->
                        <!--</div>-->
                        <!--</dd>-->
                        <!--</dl>-->
                        <!--</div>-->
                        <!--<h4 class="padding_10 font_16 bor_b  mg_top20">付费用户(20人)</h4>-->

                        <!--<div class="padding_10 clearfix bor_b gift-box">-->
                        <!--<dl class="clearfix">-->
                        <!--<dt class="left"><img class="head" src="__IMG2__/icon-head.png" alt=""/></dt>-->
                        <!--<dd class="left">-->
                        <!--<p class="mg_top10"><strong>张小二</strong></p>-->
                        <!--</dd>-->
                        <!--</dl>-->
                        <!--</div>-->
                        <!--<div class="padding_10 clearfix bor_b gift-box">-->
                        <!--<dl class="clearfix">-->
                        <!--<dt class="left"><img class="head" src="__IMG2__/icon-head.png" alt=""/></dt>-->
                        <!--<dd class="left">-->
                        <!--<p class="mg_top10"><strong>张小二</strong></p>-->
                        <!--</dd>-->
                        <!--</dl>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>

            </div>
            <div>

            </div>
        </div>
    </div>
</div>
<script>
    $('#rtt').change(function(){
        var r_id = $(this).children('option:selected').val();
        if(r_id ==''){
            zcAlert('请选择房间');
        }
        formData = new FormData;
        formData.append('id',r_id);
        data = httpPosts('/play/roomAdmins',formData,false);
        if(data!==false){
            layer.closeAll("loading");
            html = '';
            num = 0;
            $.each(data,function(i,va){
                num +=1;
                html += '<div class="padding_10 clearfix bor_b gift-box">'+
                        '<dl class="clearfix">'+
                                '<dt class="left"><img class="head" src="'+va.header_img+'" alt=""/></dt>'+
                                '<dd class="left">'+
                                '<div class="clearfix">'+
                                '<div class="left">'+
                                '<p><strong>'+va.role_name+'</strong></p>'+
            '<h6 class="mg_top10">'+va.remark+' 12:00</h6>'+
       ' </div> <a href="javascript:;" onclick="removeManage('+"'"+va.role_id+"'"+')" class="right"><strong>移除</strong></a> </div> </dd> </dl> </div>';
            });
            $('#count_num').text('管理员('+num+')');
            $('.live_room_list').html(html);
        }
    });

    function removeManage(role_id,ty){
        ty = this;
        var r_id = $('#rtt').children('option:selected').val();
        if(r_id ==''){
            zcAlert('请选择房间');
        }
        formData = new FormData;
        formData.append('room_id',r_id);
        formData.append('role_id',role_id);
        data = httpPosts('/play/admin',formData,false);
        if(data!==false){
            layer.closeAll("loading");
            zcAlert('移除成功',1);
            $(ty).parent().parent().parent().parent().remove();
        }

    }

    function addRoom(){

        formData = new FormData(document.querySelector("form"));
//        formData.append('id',r_id);
        data = httpPosts('/user/addRoom',formData,false);
        if(data!==false){
            layer.closeAll("loading");
            zcAlert('创建成功',1);
        }
    }

    function filechange() {
        var formData = new FormData($('#form_room')[0]);
        formData.append('phone', "{$phone}");
        formData.append('token', "{$token}");
        $.ajax({
            type: 'post',
            url: "{$API}" + '/upload/index',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
        }).success(function (res) {
            if (res.code == 1) {
                //上传完毕回调
                $("#input").val(res.data);
                $('#img').attr('src', res.data);
            } else if (res.code == -1) { //登录过期
                if ("{:request()->isMobile}") { //手机访问登录过期
                    window.location.href = "{:url('wap/login')}"
                } else { //pc访问登录过期
                    window.location.href = "{:url('wap/login')}"
                }
            } else {
                zcAlert(res.msg, 0);
                layer.closeAll("loading");
            }
        }).error(function () {
            zcAlert("上传失败");
        });
    }



</script>


</body>
</html>