<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="shortcut icon" href="__IMG2__/favicon.ico"/>
    <link rel="bookmark" href="__IMG2__/favicon.ico" type="image/x-icon" 　/>
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/page.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>

    <!--<script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="__JS__/jquery-2.1.0.js"></script>
    <script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var hebody = $('body').height()
        $('.overlay').css('height', $('body').height())
    </script>
    <!--公用js-->
    {include file="public/js" /}
</head>
<body>
{include file="public/header" /}
<div class="main-all clearfix" id="personal">

    {include file="/personal/left" /}
    <div class="main-right left bg_ff">

        <!--我的钱包-->
        <div class="mg_top20 personal_div" style="display: block">
            <div class="msg-box bor_b">
                <a href="javascript:;" class="active"><strong>积分</strong></a>
                <a href="javascript:;"><strong>BCDN</strong></a>
                <a href="javascript:;"><strong>明细</strong></a>
            </div>
            <!--积分-->
            <div class="my-wallet active">
                <div class="wallet_top text-center">
                    <h2>{$data.money}</h2>

                    <!--<p><strong>≈￥0.00</strong></p>-->

                    <p class="wallet-abox">
                        <a href="javascript:;" class="eth-code-a">BCDN兑换为积分</a>
                        <a href="javascript:;" class="code-eth-a">积分兑换成BCDN</a>
                    </p>
                </div>
                <div class="wallet-recored">
                    <p class="bg_e padding_10">最近提现记录</p>
                    {volist name='monto' id= 'vo'}
                    <div class="bor_b padding_10">
                        <p class="clearfix">
                            <strong class="left">提现</strong>
                            <span class="right">{$vo.num}</span>
                        </p>
                        <h6 class="clearfix mg_top10">
                            <span class="left">{$vo.create_time}</span>
                            <span class="right blue">审核中</span>
                        </h6>
                    </div>
                    {/volist}
                </div>
            </div>
            <!--ETH-->
            <div class="my-wallet">
                <div class="wallet_top text-center">
                    <h2>{$data.BCDN}</h2>

                    <p class="text_right mg_r50"><strong>0.02 &#8593</strong></p>

                    <p class="wallet-abox">
                        <a href="javascript:;">充值</a>
                        <a href="javascript:;">提现</a>
                    </p>
                </div>
                <div class="wallet-recored">
                    <p class="bg_e padding_10">最近充值记录</p>
                    {volist name = 'bcdnto' id='vo'}
                    <div class="bor_b padding_10">
                        <p class="clearfix">
                            <strong class="left">充值</strong>
                            <span class="right">{$vo.num}</span>
                        </p>
                        <h6 class="clearfix mg_top10">
                            <span class="left">{$vo.create_time}</span>
                            <span class="right blue">审核中</span>
                        </h6>
                    </div>
                    {/volist}

                </div>
            </div>
            <!--明细-->
            <div class="my-wallet ">
                <div class="detail-box mg_top20">
                    <a href="javascript:;" class="active" onclick="getDetails(0)">全部</a>
                    <a href="javascript:;" onclick="getDetails(1)">红包</a>
                    <a href="javascript:;" onclick="getDetails(2)">竞猜</a>
                    <a href="javascript:;" onclick="getDetails(4)">拍卖</a>
                    <a href="javascript:;" onclick="getDetails(5)">直播间付费</a>
                </div>
                <div class="wallet-recored">
                    {volist name='details' id='vo'}
                    <div class="bor_b padding_10">
                        <p class="clearfix">
                            <strong class="left">{if $vo.type==1}收入{else /}支出{/if}-{switch name=$vo.money_type}
                                {case value="1"}红包{/case}
                                {case value="2"}竞猜{/case}
                                {case value="3"}兑换{/case}
                                {case value="4"}拍卖{/case}
                                {case value="5"}直播间付费{/case}
                                {case value="6"}充值{/case}
                                {case value="7"}其他-{$vo.remark}{/case}
                                {case value="8"}礼物赠送{/case}
                                {/switch}</strong>
                        </p>
                        <h6 class="clearfix mg_top10">
                            <span class="left">{$vo.create_time}</span>
                            <span class="right">{$vo.money}</span>
                        </h6>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>

        <!--积分兑换为ETH-->
        <div class="basic_spring code-eth">
            <h4 class="clearfix text-center bg_e padding_tb10 color_55">积分兑换为BCDN
                <a href="javascript:;" class="right padding_lr10 dell_a"><img src="__IMG2__/icon-dell.png"/></a>
            </h4>

            <div class="information-main bg_ff ">
                <div class="mg_top20 code-box text-center">
                    <p class="text-center">积分：<strong>{$data.money}</strong></p>

                    <p class="text-center mg_tb10">当前手续费{$rate.charge}</p>
                </div>
                <p class="mg_top20 code-box class=" text-center"">
                <label for="">请输入兑换数量：</label>
                <input type="number" name="money" id="score" value=""/>
                </p>
                <p class="blue padding_10" id="resval">可获得0BCDN</p>

                <p class="padding_10">兑换规则兑换规则兑换规则兑换规则兑换规则兑换规则兑换规则兑换规则</p>

                <p class="mg_top40 text-center"><a href="javascript:void(0);" class="btn-a "
                                                   onclick="exchange('money')">确认兑换</a>
                </p>
            </div>
        </div>
        <!--ETH兑换为积分-->
        <div class="basic_spring eth-code">
            <h4 class="clearfix text-center bg_e padding_tb10 color_55">BCDN兑换为积分
                <a href="javascript:;" class="right padding_lr10 dell_a"><img src="__IMG2__/icon-dell.png"/></a>
            </h4>

            <div class="information-main bg_ff ">
                <div class="mg_top20 code-box text-center">
                    <p class="text-center">BCDN数：<strong>{$data.BCDN}</strong></p>

                    <p class="text-center mg_tb10">当前手续费{$rate.charge}</p>
                </div>
                <p class="mg_top20 code-box class=" text-center"">
                <label for="">请输入兑换数量：</label>
                <input type="number" name="money" id="bcdn" value=""/>
                </p>
                <p class="blue padding_10" id="bc">可获得0积分</p>

                <p class="padding_10">兑换规则兑换规则兑换规则兑换规则兑换规则兑换规则兑换规则兑换规则</p>

                <p class="mg_top40 text-center"><a href="javascript:void (0);" class="btn-a "
                                                   onclick="exchange('BCDN')">确认兑换</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

    });
    //积分兑换bcdn
    $('#score').keyup(function () {
        var money = $(this).val();
        if (money > {$data.money}
        )
        {
            zcAlert('余额不足', 0);
        }
        res = money / '{$rate.rate}' * (1 - {$rate.charge
    });
    $('#resval').text('可获得' + res + 'BCDN');
    })
    ;
    //bctn 兑换积分
    $('#bcdn').keyup(function () {
        var money = $(this).val();
        if (money > {$data.BCDN}
        )
        {
            zcAlert('余额不足', 0);
        }
        res = money * '{$rate.rate}' * (1 - {$rate.charge
    });
    $('#bc').text('可获得' + res + '积分');
    })
    ;
    /**
     *兑换
     * */
    function exchange(type) {
        if (type == 'BCDN') {
            money = $('#bcdn').val();
            btn = $('#bc');
        } else {
            money = $('#score').val();
            btn = $('#resval')
        }
        formData = new FormData
        formData.append('type', type);
        formData.append('money', money);

        $data = httpPost('/user/exchange', formData, btn, false);
        layer.closeAll("loading");

        zcAlert('兑换成功', 1);

    }
    /**
     * 明细
     * @param type
     */
    function getDetails(type) {
        formData = new FormData
        formData.append('type', type);
        data = httpPost('/Money/detail', formData, $(this), false);
        var html = '';
        if (data.data != false) {
            var res = data.data;
            $.each(res, function (n, va) {
                ty = '';
                if (va.type == 1) {
                    ty = '收入';
                } else {
                    ty = '支出';
                }
                money_type = ''
                switch (va.money_type) {
                    case 1:
                        money_type = '红包';
                        break;
                    case 2:
                        money_type = '竞猜'

                        break;
                    case 3:
                        money_type = '兑换'

                        break;
                    case 4:
                        money_type = '拍卖'

                        break;
                    case 5:
                        money_type = '直播间付费'

                        break;
                    case 6:
                        money_type = '充值'

                        break;
                    case 8:
                        money_type = '礼物赠送'

                        break;
                    default:
                        money_type = '其他-'+va.remark
                        break;

                }
                layer.closeAll("loading");
                html += '<div class="bor_b padding_10">' +
                        '<p class="clearfix">' +
                        '<strong class="left">' + ty + '-' + money_type + '</strong>' +
                        '</p>' +
                        '<h6 class="clearfix mg_top10">' +
                        '<span class="left">' + va.create_time + '</span>' +
                        '<span class="right">' + va.money + '</span>' +
                        '</h6></div>';
            });
            $('.wallet-recored').html(html);
        }
    }

</script>

</body>
</html>