<code class="language-html"><!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <!--<!DOCTYPE html>-->
    <!--<html>-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <meta HTTP-EQUIV="Expires" CONTENT="-1">
        <meta name="viewport"
              content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
        <title>个人中心</title>
        <link rel="shortcut icon" href="__IMG2__/favicon.ico"/>
        <link rel="bookmark" href="__IMG2__/favicon.ico" type="image/x-icon" 　/>
        <link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
        <link rel="stylesheet" type="text/css" href="__CSS__/page.css"/>
        <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
        <style>
            #iframeTop {
                width: 100%;
                height: 130px;
            }

            #iframeLeft {
                width: 20%;
                height: 751px;
                float: left;
            }

            #iframeContent {
                width: 80%;
                height: 700px;
            }
        </style>


    </head>
    <body>


        <iframe id="iframeTop" name="iframeTop" frameborder="0" src="/personal/top.html"></iframe>
        <div class="main-all clearfix" id="personal">
            <iframe id="iframeLeft" name="iframeLeft" frameborder="0" src="/personal/left.html"></iframe>
            <iframe id="iframeContent" name="iframeContent" frameborder="0" src="/personal/accountinfo.html"></iframe>
        </div>



    <!--<div class="overlay"></div>-->
    <!--<script src="js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>-->
    <!--<script src="js/index.js" type="text/javascript" charset="utf-8"></script>-->
    <!--<script type="text/javascript">-->
    <!--var hebody = $('body').height()-->
    <!--$('.overlay').css('height', $('body').height())-->


    <!--</script>-->
    </body>
    </html>
</code>
