<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="shortcut icon" href="__IMG2__/favicon.ico"/>
    <link rel="bookmark" href="__IMG2__/favicon.ico" type="image/x-icon" 　/>
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/page.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>

    <!--<script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="__JS__/jquery-2.1.0.js"></script>
    <script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var hebody = $('body').height()
        $('.overlay').css('height', $('body').height())
    </script>
    <!--公用js-->
    {include file="public/js" /}
</head>

{include file="public/header" /}
<div class="main-all clearfix" id="personal">

    {include file="/personal/left" /}
    <div class="main-right left bg_ff">


        <div class="mg_top20 personal_div" style="display: block">
            <p class="padding_10  bg_e"><img class="vertical-align_m mg_lr10" src="__IMG2__/my-zl.png"/>当前角色</p>

            <div class="personal-list bg_ff clearfix">
                <p><strong>基本资料</strong> <a href="javascript:;" class="infor-a"><img
                        src="__IMG2__/icon-editue.png"/></a>
                </p>

                <div class="bor_b float_40 padding_10">
                    <p class="clearfix mg_top10">
                        <span class="left padding_l20">性别：{if $data.sex==1}男{else /}女{/if}</span>
                        <span class="right padding_l20">所在地：{$data.place}</span>

                    </p>
                </div>
                <div class="bor_b float_40 padding_10 ">
                    <p class=" mg_top10 ">
                        第一次接触区块链时间：{$data.first_time}
                    </p>
                </div>
                <div class="bor_b float_40 padding_10 ">
                    <p class=" mg_top10 padding_l20">
                        出生日期：{$data.birthday}
                    </p>
                </div>
                <div class="bor_b float_40 padding_10 ">
                    <p class=" mg_top10 ">
                        个性签名：{$data.sign}
                    </p>
                </div>
            </div>
            <div class="personal-list bg_ff clearfix">
                <p><strong>我的粉丝({$fans.total_num})</strong></p>
                <ul class="clearfix fans-box">
                    {volist name = 'fans.data' id = 'vo'}
                    <li><a href="javascript:;"><img src="{$vo.header_img}"/>

                        <p>{$vo.role_name}</p></a></li>
                    {/volist}
                    <!--<li><a href="javascript:;"><img src="__IMG2__/icon-head.png"/>-->

                    <!--<p>比特币</p></a></li>-->
                    <!--<li><a href="javascript:;"><img src="__IMG2__/icon-head.png"/>-->

                    <!--<p>比特币</p></a></li>-->
                    <!--<li><a href="javascript:;"><img src="__IMG2__/icon-head.png"/>-->

                    <!--<p>比特币</p></a></li>-->
                    <!--<li><a href="javascript:;"><img src="__IMG2__/icon-head.png"/>-->

                    <!--<p>比特币</p></a></li>-->
                    <!--<li><a href="javascript:;"><img src="__IMG2__/icon-head.png"/>-->

                    <!--<p>比特币</p></a></li>-->
                    <!--<li><a href="javascript:;"><img src="__IMG2__/icon-head.png"/>-->

                    <!--<p>比特币</p></a></li>-->
                </ul>
                {if $fans.hasNext}
                <p class="text-center mg_top20" id="nex"><a href="javascript:;" thisPage="{$fans.thisPage}" onclick="getNexFans(this)"><img
                        class="vertical-align_m mg_lr10"
                        src="__IMG2__/down.png"/>下一页</a></p>
                {/if}
            </div>
        </div>
        <!--编辑资料__IMG2__/icon-head.png-->
        <div class="basic_spring information">
            <h4 class="clearfix text-center bg_e padding_tb10 color_55">编辑资料
                <a href="javascript:;" class="right padding_lr10 dell_a"><img src="__IMG2__/icon-dell.png"/></a>
            </h4>

            <form id="uploadForm">

                <div class="text-center bg_ff information-main">
                    <p class="mg_top20 code-box">
                        <label for="">当前头像 ：</label>
                        <img class="chosee-head" id="img" src="{$data.header_img}"/>
                        <input type="file" name="file" id="file" onchange="filechange()" value=""/>
                        <input type="hidden" name="header_img" id="input" value="{$data.header_img}">
                    </p>

                    <p class="mg_top10 code-box">
                        <label for="">选择性别 ：</label>
                        <select name="sex">
                            {if $data.sex==1}
                            <option value="">请选择性别</option>

                            <option value="1" selected="selected">男</option>
                            <option value="0">女</option>
                            {elseif $data.sex==0 /}
                            <option value="">请选择性别</option>
                            <option value="1">男</option>
                            <option value="0" selected="selected">女</option>
                            {else /}
                            <option value="" selected="selected">请选择性别</option>
                            <option value="1">男</option>
                            <option value="0">女</option>
                            {/if}
                        </select>
                    </p>
                    <p class="mg_top10 code-box">
                        <label for="">所在地 ：</label>
                        <input type="text" name="place" id="" value="{$data.place}"/>

                        <!--<select name="place">-->
                        <!--<option value="">请选择所在地</option>-->
                        <!--<option value="">北京</option>-->
                        <!--<option value="">上海</option>-->
                        <!--</select>-->
                    </p>

                    <p class="mg_top10 code-box">
                        <label for="">接触区块链时间 ：</label>
                        <input type="date" name="first_time" id="" value="{$data.first_time}"/>
                    </p>

                    <p class="mg_top10 code-box">
                        <label for="">出生日期 ：</label>
                        <input type="date" name="birthday" id="" value="{$data.birthday}"/>
                    </p>

                    <p class="mg_top10 code-box">
                        <label for="">个性签名 ：</label>
                        <input type="text" name="sign" id="" value="{$data.sign}"/>
                    </p>

                    <p class="mg_top40 text-center"><a href="javascript:;" onclick="editRole(this)"
                                                       class="btn-a ">确定</a>
                    </p>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="__JS__/ajaxfileupload.js"></script>

<script>
    function filechange() {
        var formData = new FormData($('#uploadForm')[0]);
        formData.append('phone', "{$phone}");
        formData.append('token', "{$token}");
        $.ajax({
            type: 'post',
            url: "{$API}" + '/upload/index',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
        }).success(function (res) {
            if (res.code == 1) {
                //上传完毕回调
                $("#input").val(res.data);
                $('#img').attr('src', res.data);
            } else if (res.code == -1) { //登录过期
                if ("{:request()->isMobile}") { //手机访问登录过期
                    window.location.href = "{:url('wap/login')}"
                } else { //pc访问登录过期
                    window.location.href = "{:url('wap/login')}"
                }
            } else {
                zcAlert(res.msg, 0);
                layer.closeAll("loading");
            }
        }).error(function () {
            zcAlert("上传失败");
        });
    }

    /**
     * 角色编辑
     * @param aid
     */

    function editRole(aid) {
        console.log($('form#uploadForm'));
        var formData = new FormData();
        $.each($('#uploadForm').serializeArray(), function (i, v) {
            formData.append(v.name, v.value);
        });
        data = httpPost('/user/editRole', formData, $(aid), false);
        if (data !== false) {
            layer.closeAll("loading");
            zcAlert('修改成功', 1);
            window.location.reload();
        }

    }

    function getNexFans(th) {
        var thi = $(th);
        var Page = thi.attr('thisPage')+1;

        var formData = new FormData();
        formData.append('page',page);
        formData.append('list_num',1);
        $data = httpPost('/User/my_fans',formData, thi, false);

        var html = '';

        if(data !== false){
            layer.closeAll("loading");
            $.each(data.data,function(i,va){
                html +=   '<li><a href="javascript:;"><img src="'+va.header_img+'"/>'+
                          '<p>'+va.role_name+'</p></a></li>';

            });
            $('.fans-box').append(html);
            if($data.hasNext==false){
                thi.remove();
            }else{
                thi.attr('thisPage',data.thisPage);
            }


        }
    }

</script>

</body>
</html>