
<div id="header">
    <div class="nav clearfix">
        <div class="logo left">
            <img src="__IMG2__/logo.png"/>
        </div>
        <div class="left nav_list mg_top5">
            <ul class="clearfix">
                <li><a target="_parent" href="{:url('web/index')}">首页</a></li>
                <li><a target="_parent" href="classify.html">分类</a></li>
                <li><a target="_parent" href="home.html">房间</a></li>
                <li><a target="_parent" href="{:url('vod/index')}">回放</a></li>
                <li><a target="_parent" href="{:url('sale/index')}">拍卖中心</a></li>
            </ul>
        </div>
        <div class="right nav-right">
            <input type="text" name="" id="" value=""/>
            <a href="javascript:;" class="soso"><img src="__IMG2__/icon-find.png"/></a>
					<span class="nav-icon">
						<a target="_parent" href="javascript:;" class="mg_lr10"><img src="__IMG2__/icon_star.png"/>关注</a>
						<a target="_parent" href="javascript:;" class="mg_lr10"><img src="__IMG2__/icon-time.png"/>历史</a>
						<a target="_parent" href="javascript:;" class="mg_lr10"><img src="__IMG2__/icon-msg.png"/>消息</a>
						<a target="_parent" href="javascript:;" class="mg_lr10"><img src="__IMG2__/icon-hot.png"/>发起活动</a>
						<i target="_parent" class="mg_lr10">
                            <img class="top-head" src="__IMG2__/icon-head.png"/>
                            小姐姐
                        </i>
					</span>
        </div>
    </div>
</div>




