<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="shortcut icon" href="__IMG2__//favicon.ico"/>
    <link rel="bookmark" href="__IMG2__//favicon.ico" type="image/x-icon" 　/>
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/page.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>

    <!--<script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="__JS__/jquery-2.1.0.js"></script>
    <script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var hebody = $('body').height()
        $('.overlay').css('height', $('body').height())
    </script>
    <!--公用js-->
    {include file="public/js" /}
</head>
<body>
{include file="public/header" /}
<div class="main-all clearfix" id="personal">

    {include file="/personal/left" /}
<!--我的拍卖-->
<div class="main-right left bg_ff">
<div class="mg_top20 personal_div" style="display: block;">


    <div class="auction-box">
        <div class="tittle bor_b clearfix bg_ff">
            <h4 class="padding_tb10 left"><strong>我参与的</strong></h4>
        </div>
        <table border="" cellspacing="" cellpadding="" class="auction-tab bg_ff ">
            <tbody>
            <tr>
                <th>名称</th>
                <th>类型</th>
                <th>房间价格</th>
                <th>上传竞价时间</th>
                <th>操作</th>
            </tr>
            {volist name='join' id='vo'}

            <tr>
                <td>{$vo.name}</td>
                <td>{$vo.type}</td>
                <td>{$vo.money}</td>
                <td>{$vo.time|date='Y-m-d H:i',###}</td>
                <td><a href="javascript:;" class="blue">{$vo.status_cn}</a></td>
            </tr>

            {/volist}
            </tbody>
        </table>
    </div>
    <div class="auction-box">
        <div class="tittle bor_b clearfix bg_ff">
            <h4 class="padding_tb10 left"><strong>我发起的</strong></h4>
        </div>
        <table border="" cellspacing="" cellpadding="" class="auction-tab bg_ff ">
            <tbody>
            <tr>
                <th>名称</th>
                <th>类型</th>
                <th>房间价格</th>
                <th>上传竞价时间</th>
                <th>操作</th>
            </tr>
           {volist name='self' id='vo'}

            <tr>
                <td>{$vo.name}</td>
                <td>{$vo.type}</td>
                <td>{$vo.money}</td>
                <td>{$vo.time|date='Y-m-d H:i',###}</td>
                <td><a href="javascript:;" class="blue">{$vo.status_cn}</a></td>
            </tr>

            {/volist}
            </tbody>
        </table>
    </div>

</div>
</div>
</div>
</body>
</html>