<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="shortcut icon" href="__IMG2__/favicon.ico"/>
    <link rel="bookmark" href="__IMG2__/favicon.ico" type="image/x-icon" 　/>
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/page.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>

    <!--<script src="__JS__/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="__JS__/jquery-2.1.0.js"></script>
    <script src="__JS__/index.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var hebody = $('body').height()
        $('.overlay').css('height', $('body').height())
    </script>
    <!--公用js-->
    {include file="public/js" /}
</head>
<body>
{include file="public/header" /}
<div class="main-all clearfix" id="personal">

    {include file="/personal/left" /}
    <div class="main-right left bg_ff">
    <div class="mg_top20 personal_div" style="display: block">
        <h4 class="padding_10 bg_e clearfix">
            <span><img class="vertical-align_m mg_lr10" src="__IMG2__/up.png" alt="">回放视频上传</span>
        </h4>
        <form action="" id="vod">
        <div class="initiate-activities">
            <div class="mg_top20">
                <span>视频标题：</span>
                <input type="text" name="title" value="">
            </div>
            <div class="mg_top20">
                <span>视频分类：</span>
                <select name="cid" class="select-box">
                    <option value="">请选择视频分类</option>
                    {volist name='cid' id='v'}
                    <option value="{$v.cid}">{$v.cate_name}</option>
                    {/volist}
                </select>
            </div>
            <div class="mg_top20">
                <span>上传图片：</span>
                <input type="file" id="files" hidden="hidden" value="">
                <label for="files" class="file img-file"><img src="__IMG2__/addtp.png" id="img"/> </label><a id="del_img" style="margin-top: 4%;">删除</a>
                <input type="hidden" name="img" value="">

            </div>
            <div class="mg_top20" >
                <span>上传视频：</span>
                <div style="position: relative;display: none;">
                <div style="position:relative;max-width: 300px;" id="play">
                    <video autoplay="" style="min-width: 300px !important;max-height: 300px;" class="play_url" controls="controls" muted="" src="">
                        对不起；您的浏览器不支持HTML5视频在WebM和VP8 / VP9或MP4
                    </video>
                    <a style="position: absolute;top: 5%;right: 2%;" class="del" data-url="">删除视屏</a>
                </div>
                </div>
                <input type="file" id="file" hidden="hidden" value="">
                <label for="file" class="file img-file" id="uploads"><img src="__IMG2__/addsp.png"/></label>
                <input type="hidden" name="file" value="">
            </div>

            <div class="mg_top20">
                <span>详情介绍：</span>
                <textarea class="textret-box" name="detail" rows="" cols=""></textarea>
            </div>
            <div class="mg_top20">
                <a href="javascript:;" class="btn-a initiate-a share-a" id="sure">确认</a>
            </div>
        </div>
        </form>
    </div>

</div>
</div>

</body>
<script type="text/javascript" src="https://unpkg.com/qiniu-js@v2.4.0/dist/qiniu.min.js"></script>
</html>
<script>
    $('#file').change(function () {
        var file = $('#file')[0].files[0];
        if (!file){
            layer.msg('您未选择文件', {icon: 5, time: 2000});return false;
        }
        var size = file.size/(1024*1024);
        var index = file.name.lastIndexOf(".");
        var ext = file.name.substring(index+1);
        var formData = new FormData();
        formData.append('size',size);
        formData.append('ext',ext);
        var result = httpPosts('/upload/file',formData);
        var btn = $(this);
        btn.attr('disabled', 'disabled');
        layer.msg('上传中', {
            icon: 16
            ,shade: [0.3,'#999999'],
            time:21600000
        });
        var token = result.token;
        var key = takeName('vod',2)+'.'+ext;
        var config = {
            useCdnDomain: true,
            region: qiniu.region.z0,
            concurrentRequestLimit:3,
        };
        var putExtra = {
            fname: file.name,
            params: {},
            mimeType:  null
        };
        var observer = {
            next(res){
                $('.layui-layer-padding').html('<i class="layui-layer-ico layui-layer-ico16"></i>上传中 '+res.total.percent.toFixed(2)+'%');
            },
            error(err){
                layer.msg('上传失败,请稍后重试'+err.message, {icon: 5, time: 2000});
                layer.closeAll("loading");
                btn.attr('disabled', false);
            },
            complete(res){
                var domain = result.url;
                var url = domain+'/'+res.key;
                $("#play").parent('div').attr("style","margin-left:15%;margin-top:-4%;display:block;max-width:300px;max-height:300px")
                $("#uploads").attr("style",'display:none');
                $('.play_url').attr("src",url);
                $('.del').attr('data-url',url);
                $("input[name='file']").val(url);
                layer.msg('上传成功', {icon: 1, time: 2000});
                layer.closeAll("loading");
                btn.attr('disabled', false);
                removeFile('file');
            }
        };
        var observable = qiniu.upload(file, key, token, putExtra, config)
        var subscription = observable.subscribe(observer)

    });
    $('.del').click(function () {
        var btn = $(this);
        btn.attr('disabled', 'disabled');
        var load=layer.load(1, {
            shade: [0.3,'#999999'] //0.1透明度的白色背景
        });
        var url = $(this).data('url');
        $.get("{:url('personal/delete1')}"+'?file='+url, function(result){
            if (result.code == 1){
                layer.msg('删除成功', {icon: 1, time: 2000});
                layer.closeAll("loading");
                btn.attr('disabled', false);
                $("#play").parent('div').attr("style","margin-left:0%;margin-top:0%;display:none")
                $("#uploads").attr("style",'');
                $('.playUrl').attr("src",'');
                $('.del').attr('data-url','');
                $("input[name='playUrl']").val('');
            } else{
                layer.msg('删除失败,请稍后重试', {icon: 5, time: 2000});
                layer.closeAll("loading");
                btn.attr('disabled', false);
            }
        });

    })

    $("#files").change(function () {
        var files = $('#files')[0].files[0];
        if (!files){
            layer.msg('您未选择文件', {icon: 5, time: 2000});return false;
        }
        var formData = new FormData();
        var result = httpPosts('/upload/token',formData);
        var token = result.token;
        var index = files.name.lastIndexOf(".");
        var ext = files.name.substring(index);
        var key = takeName('vod',2)+ext;
        var config = {
            useCdnDomain: true,
            region: qiniu.region.z0,
            concurrentRequestLimit:3,
        };
        var putExtra = {
            fname: files.name,
            params: {},
            mimeType:  null
        };
        var observer = {
            next(res){
                $('.layui-layer-padding').html('<i class="layui-layer-ico layui-layer-ico16"></i>上传中 '+res.total.percent.toFixed(2)+'%');
            },
            error(err){
                layer.msg('上传失败,请稍后重试'+err.message, {icon: 5, time: 2000});
                layer.closeAll("loading");
            },
            complete(res){
                var domain = result.url;
                var url = domain+'/'+res.key;
                $("#img").attr('src',url)
                $('#del_img').attr('data-url',url);
                $("input[name='img']").val(url);
                layer.msg('上传成功', {icon: 1, time: 2000});
                layer.closeAll("loading");
            }
        };
        var observable = qiniu.upload(files, key, token, putExtra, config)
        var subscription = observable.subscribe(observer)
    })
    $('#del_img').click(function () {
        var btn = $(this);
        btn.attr('disabled', 'disabled');
        var load=layer.load(1, {
            shade: [0.3,'#999999'] //0.1透明度的白色背景
        });
        var url = $(this).data('url');
        $.get("{:url('personal/delete1')}"+'?file='+url, function(result){
            if (result.code == 1){
                layer.msg('删除成功', {icon: 1, time: 2000});
                layer.closeAll("loading");
                btn.attr('disabled', false);
                $("#img").attr('src','__IMG2__/addtp.png')
                $('#del_img').attr('data-url','');
                $("input[name='img']").val('');
            } else{
                layer.msg('删除失败,请稍后重试', {icon: 5, time: 2000});
                layer.closeAll("loading");
                btn.attr('disabled', false);
            }
        });

    })
    function takeName(name,len) {
        var Name = '';
        var myDate = new Date();
        var myTime = myDate.getFullYear()+myDate.getMonth()+myDate.getDate()+myDate.getHours()+myDate.getMinutes()+myDate.getSeconds();
        len = len || 1;
        if (name != ''){
            Name += name;
        }
        var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyz';
        var maxPos = chars.length;
        for (i = 0; i < len; i++) {
            Name += chars.charAt(Math.floor(Math.random() * maxPos));
        }
        Name += myTime+Math.ceil(Math.random()*9999).toString();
        return Name;
    }
    
    
    $("#sure").click(function () {
        var form = new FormData($("#vod")[0]);
        if(form.get('title') == ''){
            layer.msg('回放视频+标题不能为空',{icon:5,time:2000})
        }
        if(form.get('cid') == ''){
            layer.msg('回放视频所属类型不能为空',{icon:5,time:2000})
        }
        if(form.get('img') == ''){
            layer.msg('回放视频封面图片不能为空',{icon:5,time:2000})
        }
        if(form.get('file') == ''){
            layer.msg('回放视频不能为空',{icon:5,time:2000})
        }
        if(form.get('detail') == ''){
            layer.msg('回放视频详情不能为空',{icon:5,time:2000})
        }
        var btn = $(this);
        var result = httpPost('/Vod/upload_verify',form,btn);
        zcRefreshAlert('提交成功',1);
    })
</script>