{extend name="public:common_index"/}
{block name="css"}
<link href="/public/plugs/switch-button/css/bootstrap-switch.css" rel="stylesheet">
{/block}
{block name="main"}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {$title}</h3>
        </div>
        <div class="panel-body">
            <div class="navbar navbar-default">
                <form action="" id="search-form2" class="navbar-form form-inline" method="get" onsubmit="return false">
                    <div class="form-group">
                        <label class="control-label" for="input-order-id">类型名</label>
                        <div class="input-group">
                            <input type="text" name="cate_name" value="{$Think.get.cate_name}" placeholder="类型名"
                                   id="input-order-id" class="form-control">
                        </div>
                        <label class="control-label" for="input-order-id">状态</label>
                        <select class="form-control" name="status">
                            <option id="status2" value="">全部</option>
                            <option id="status1" value="1"> 启用</option>
                            <option id="status0" value="0">禁用</option>
                        </select>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label class="control-label" for="input-order-id">时间筛选</label>-->
                    <!--<div class="input-group">-->
                    <!--<input type="text" name="startDate"  autocomplete="off" value="{$Think.get.startDate}" placeholder="选择开始时间"-->
                    <!--class="form-control timepicker">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<div class="input-group">-->
                    <!--<input type="text" name="endDate"  autocomplete="off" value="{$Think.get.endDate}" placeholder="选择结束时间"-->
                    <!--class="form-control timepicker">-->
                    <!--</div>-->
                    <!--</div>-->
                    <button type="submit" onclick="javascript:document.getElementById('search-form2').submit();"
                            id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i> 筛选
                    </button>
                    <a href="{:url('cate_edit')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>添加</a>
                    <!--<a href="{:url('examiner_batch')}" class="btn btn-primary pull-right"><i class="fa fa-folder-open-o"></i>批量导入</a>-->
                </form>
            </div>
            <div id="ajax_return">
                <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td>id</td>
                                <td>logo</td>
                                <td>类型名</td>
                                <td>是否推荐</td>
                                <td>状态</td>
                                <td>上次修改时间</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 列表循环开始 -->
                            {volist name="rows" id="row"}
                            <tr>
                                <td>{$row.cid}</td>
                                <td><img src="{$row.img}" style="max-width: 80px" alt=""></td>
                                <td>{$row.cate_name}</td>
                                <td><input type="checkbox" class="checkbox is_top" {:ischeck($row.top)} data-size="small" data-id="{$row.cid}"></td>
                                <td>{if condition="$row.status == 1"} 启用 {else /} 禁用 {/if}</td>
                                <td>{$row.update_time}</td>
                                <td>
                                    <a class="btn btn-primary " href="{:url('cate_edit',['id'=>$row.cid])}">编辑</a>
                                    {if condition="$row.status == 1"} <span class="btn btn-primary change" data-url="{:url('cate_change',['id'=>$row.cid,'type'=>0])}">禁用 </span>
                                    {else /} <span class="btn btn-primary change"  data-url="{:url('cate_change',['id'=>$row.cid,'type'=>1])}">启用</span> {/if}
                                         <!--<span class="btn btn-danger check_del" data-message="" data-url="">删除</span>-->
                                        {/*:url('cate_del',['id'=>$row.cid])*/}

                                </td>
                            </tr>
                            {/volist}
                            <!-- 列表循环结束 -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div id='pagerarea'>{$pageHTML}</div>
        </div>
    </div>
{/block}

{block name="js"}
<script src="/public/plugs/switch-button/js/bootstrap-switch.js"></script>
<script>
    $(document).ready(function(){
        $(".checkbox").bootstrapSwitch({
            onText:'是',
            offText:'否'
        });
        $('.is_top').on('switchChange.bootstrapSwitch', function (event,state){
            var type = state?1:0;
            var id = $(this).attr('data-id');
            $.post("{:url('cate_top')}",{id:id,type:type},function (data) {
                if(data.code!=1){layer.msg('改变状态失败', {icon: 5, time: 2000});}
            });
        });
    });


    $(function () {
        var type   = "{$Think.get.type}";
        if(type != ''){
            $('#type'+type).attr('selected',true)
        }

        var status   = "{$Think.get.status}";
        if(status != ''){
            $('#status'+status).attr('selected',true)
        }
    })

</script>



{/block}



