{extend name="public:common_index"/}
{block name="main"}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> 礼物列表</h3>
        </div>
        <div class="panel-body">
            <div class="navbar navbar-default">
                <form action="" id="search-form2" class="navbar-form form-inline" method="get" onsubmit="return false">
                    <div class="form-group">

                        <label class="control-label" for="input-order-id">状态</label>
                        <select class="form-control" name="status">
                            <option id="status2" value="">全部</option>
                            <option id="status1" value="1">开启中</option>
                            <option id="status0" value="2">封盘</option>
                            <option id="status3" value="3">结束</option>
                            <option id="status4" value="0">已结算</option>
                        </select>
                        <!--<label class="control-label" for="input-order-id">类型</label>-->
                        <!--{:arr2select('cid',$data,'全部',input('cid'),'cid','cate_name')}-->
                    </div>
                    <div class="form-group">
                    <label class="control-label" for="input-order-id">时间筛选</label>
                    <div class="input-group">
                    <input type="text" name="startDate" value="{$Think.get.startDate}" placeholder="选择开始时间"
                    class="form-control timepicker">
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="input-group">
                    <input type="text" name="endDate" value="{$Think.get.endDate}" placeholder="选择结束时间"
                    class="form-control timepicker">
                    </div>
                    </div>
                    <button type="submit" onclick="javascript:document.getElementById('search-form2').submit();"
                            id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i> 筛选
                    </button>

                </form>
            </div>
            <div id="ajax_return">
                <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td>id</td>
                                <td>房间名称</td>
                                <td>竞猜话题</td>
                                <td>选项A</td>
                                <td>选项A赔率</td>
                                <td>选项B</td>
                                <td>选项B赔率</td>
                                <td>正确选项</td>
                                <td>状态</td>
                                <td>创建时间</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 列表循环开始 -->
                            {volist name="rows" id="row" key="key"}
                            <tr>
                                <td>{$row.guess_id}</td>
                                <td>{$row.room_name}</td>
                                <td>{$row.title}</td>
                                <td>{$row.answer_A}</td>
                                <td>{$row.odds_A|default='未结束'}</td>
                                <td>{$row.answer_B}</td>
                                <td>{$row.odds_B|default='未结束'}</td>
                                <td>{$row.right|default='未公布'}</td>
                                <td>
                                    {switch name="$row.status"}
                                    {case value="1"}开启中{/case}
                                    {case value="2"}封盘{/case}
                                    {case value="3"}结束{/case}
                                    {case value="4"}已结算{/case}
                                    {default /}脏数据
                                    {/switch}
                                </td>
                                <td>{$row.create_time}</td>
                                <td>
                                    <a class="btn btn-primary " href="/guess/guess_index/id/{$row.guess_id}">查看详情</a>
                                </td>
                            </tr>
                            {/volist}
                            <!-- 列表循环结束 -->
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div id='pagerarea'>{$pageHTML}</div>
        </div>
    </div>
{/block}

{block name="js"}
<script>
    $(function () {
        var type   = "{$Think.get.type}";
        if(type != ''){
            $('#type'+type).attr('selected',true)
        }

        var status   = "{$Think.get.status}";
        if(status != ''){
            $('#status'+status).attr('selected',true)
        }
    })

</script>



{/block}



