<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>soha</title>
    <link rel="stylesheet" href="__CSS__/css.css"/>
    <script src="__JS__/jquery-2.1.0.js"></script>
    <script src="__JS__/clipboard.min.js"></script>
    {include file="public/js" /}

</head>
<body class="hide">
<div class="video">
    <video id="video"
           autoplay="autoplay"
           poster="{$detail.vod.img}"
           controls="controls"
           x-webkit-airplay="allow"
           x5-video-player-type="h5"
           src="{$detail.vod.play_url}" style="max-height: 300px"></video>
    <div class="head">
        <a  class="back">
            <img src="__IMG__/back.png" alt=""/>
        </a>
        <a  class="fxa">
            <img src="__IMG__/bfx.png" alt=""/>
        </a>
    </div>
</div>


<div class="room-n">
    <div class="room ro">
        <div class="zb-top">
            <div class="top-c">
                <img src="{$detail.information.header_img}" alt=""/>
                <p>
                    <span>{$detail.information.role_name}</span>
                    <span>
                        <a class="blue" {if $detail.information.check eq 0}style="display:none"{/if}>官方认证</a>
                       <a class="yello"  {if $detail.information.check eq 0}style="display:none"{/if}>主播认证</a>
                       <img src="{if $detail.information.sex eq 0}__IMG__/icon_sex.png{else}__IMG__/icon_sex_man{/if}" alt=""/>
                    </span>
                </p>
                <span class="r">
                    <a id="notice" {if $detail.information.fans_status eq 1}style="background: rgb(217, 217, 217); color: rgb(127, 127, 127);"{/if}>{if $detail.information.fans_status eq 0}关注{else}已关注{/if}</a>
                    <b>{$detail.information.fans_num}</b>
                </span>
                <b class="both"></b>
            </div>
        </div>
        <div class="zb-top padd">
            <div class="tit-n">
                <h1>个性签名</h1>
                <p><span>{$detail.vod.create_time|date='m/d',###} &nbsp;{$detail.vod.num}次播放</span></p>
                <p class="black">{$detail.information.sign}</p>
            </div>
        </div>
        <div class="zb-li padd">
            <a>
                <img src="__IMG__/bo1.png" alt=""/>
                <span>{$detail.vod.reply_num}</span>
            </a>
            <a id="up" data-id="{$detail.information.up_status}">
                <img src="{if $detail.information.up_status eq 0}__IMG__/bo2.png{else}__IMG__/bo2_selected.png{/if}" alt=""/>
                <span>{$detail.vod.up}</span>
            </a>
            <a>
                <img src="__IMG__/bo3.png" alt=""/>
                <span>{$detail.vod.share_num}</span>
            </a>
        </div>
        <div class="pl">
            <h1>最新评论（{$detail.vod.reply_num}）</h1>
            <div class="pl-txt">
                {volist name="$detail.reply" id="v"}
                <div class="pl-list">
                    <div class="pl-li">
                        <img src="{$v.header_img}" alt=""/>
                        <div class="pl-r">
                            <p class="pl-tit">
                               {$v.role_name}
                            </p>
                            <p>{$v.content}</p>
                            <p>
                                <b>{$v.create_time|date='Y/m/d',###}</b>
                                <a href="">回复</a>
                            </p>
                            {volist name="$v.detail" id="vo"}
                            <p class="hf">{$vo.content}</p>
                            {/volist}
                        </div>
                        <b class="both"></b>
                    </div>

                </div>
                {/volist}
                <!--<div class="pl-list">-->
                    <!--<div class="pl-li">-->
                        <!--<img src="img/15.png" alt=""/>-->
                        <!--<div class="pl-r">-->
                            <!--<p class="pl-tit">-->
                                <!--小花花-->
                            <!--</p>-->
                            <!--<p>唱的歌很好听！</p>-->
                            <!--<p>-->
                                <!--<b>2016/01/12</b>-->
                                <!--<a href="">回复</a>-->
                            <!--</p>-->
                            <!--<p class="hf">唱的歌很好听！</p>-->
                        <!--</div>-->
                        <!--<b class="both"></b>-->
                    <!--</div>-->

                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div class="foot">
    <input type="text" readonly onclick="location.href='res.html'" placeholder="说点什么吧......"/>
</div>
<script src="__JS__/js.js"></script>
</body>
<script>



    $(function(){
        var he = $('body').innerHeight()-$('.video').innerHeight()-50;
        $('.room').css({height:he+'px'});
    });
$("#notice").click(function () {
    var notice = $(this).html();
    var form = new FormData();
    form.append('role_id','{$detail.information.role_id}');
    if(notice == '关注'){
        var result = httpPosts('/Focus/addFocusRole',form);
        if(result == null) {
            $('.r').children('a').css('background', '#d9d9d9');
            $('.r').children('a').css('color', '#7f7f7f');
            $('.r').children('a').html('已关注');
            var num = $('.r').children('b').html();
            num++;
            $('.r').children('b').html(num);
        }
    }else{
        var result = httpPosts('/Focus/hiddenRole',form);
        if(result == null) {
                $('.r').children('a').css('background', '#2e89fe');
                $('.r').children('a').css('color', '#fff');
                $('.r').children('a').html('关注');
            var num = $('.r').children('b').html();
            num--;
            $('.r').children('b').html(num);
        }
    }

})
    $("#up").click(function () {
        var up_status = $(this).data('id');
        // alert(up_status);
        var form = new FormData();
        form.append('pid','{$detail.vod.pid}');
        httpPosts('/Vod/up',form);
        if(up_status){
            $("#up").data('id',0);
            $("#up").children("img").attr('src','__IMG__/bo2.png');
            var num = $("#up").children("span").html();
            num--;
            $("#up").children("span").html(num);
        }else{
            $("#up").data('id',1);
            $("#up").children("img").attr('src','__IMG__/bo2_selected.png');
            var num = $("#up").children("span").html();
            num++;
            $("#up").children("span").html(num);
        }
    })
</script>
</html>